
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Box with Shadow</title>
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link rel="shortcut icon" type="image/x-icon" href="../../../../assets/FrontOffice/img/favicon.svg">

  <link rel="stylesheet" href="/assets/FrontOffice/css/bootstrap.min.css">

  <link rel="stylesheet" href="/assets/FrontOffice/plugins/fontawesome/css/fontawesome.min.css">
  <link rel="stylesheet" href="/assets/FrontOffice/plugins/fontawesome/css/all.min.css">

  <link rel="stylesheet" href="/assets/FrontOffice/css/owl.carousel.min.css">
  <link rel="stylesheet" href="/assets/FrontOffice/css/owl.theme.default.min.css">

  <link rel="stylesheet" href="/assets/FrontOffice/plugins/feather/feather.css">

  <link rel="stylesheet" href="/assets/FrontOffice/css/style.css">
</head>
<body>
<div class="box">
  <div class="box-content">
    <div class="col-md-5 login-bg">
      <div>
        <div class="login-banner">
          <img src="/assets/FrontOffice/img/login-img.png" class="img-fluid" alt="Logo">
        </div>
        <div class="mentor-course text-center">
          <h2>Welcome to <br>EduHub ESPRIT</h2>

        </div>

      </div>
    </div>
  </div>

  <div class="form-container">
    <div c  *ngIf="!authResponse.mfaEnabled && !forgotpassword">

      <div class="login-wrapper">
        <div class="loginbox">
          <div >
            <div class="img-logo">

              <div class="back-home">
                <h1>Sign in</h1>
              </div>
              <img src="/assets/FrontOffice/img/logo15.png" class="img-fluid" alt="Logo">

            </div>



            <form [formGroup]="authForm">

              <div class="input-block">
                <mat-form-field class="custom-input-width">
                  <mat-label>Email</mat-label>
                  <input type="email" matInput  [errorStateMatcher]="matcher" formControlName="email"
                         placeholder="Ex. pat@example.com">
                  <mat-hint>Errors appear instantly!</mat-hint>

                  <mat-error *ngIf="authForm.controls['email'].hasError('email') && !authForm.controls['email'].hasError('required')">
                    Please enter a valid email address
                  </mat-error>

                  <mat-error *ngIf="authForm.controls['email'].hasError('required')">
                    Email is <strong>required</strong>
                  </mat-error>
                </mat-form-field>

              </div>
              <div class="input-block">
                <mat-form-field class="custom-input-width">
                  <mat-label>Password</mat-label>
                  <input type="password" matInput  [errorStateMatcher]="matcher" formControlName="password"
                         placeholder="enter your password">
                  <mat-hint>Errors appear instantly!</mat-hint>



                  <mat-error *ngIf="authForm.controls['password'].hasError('required')">
                    password is <strong>required</strong>
                  </mat-error>





                </mat-form-field>



              </div>
              <button mat-button type="submit" (click)="authenticate()"
                      [disabled]=" authForm.invalid">Sign in </button>
              <div class="forgot">
     <span>
       <a   class="forgot-link"   (click)="activeforgotpassword()" >Forgot Password ?</a>
   </span>
              </div>


              <div class="success-message-panel" *ngIf="sendveriftoken">
                <button type="button" (click)="sendverifmail()"> send verification email</button>
              </div>
              <div class="alert alert-primary" role="alert" *ngIf="message">
                <div class="success-message">{{ message }}</div>
              </div>

              <div class="alert alert-danger" role="alert" *ngIf="error">
                <div class="error-message">{{ error }}</div>
              </div>

              <div class="google-bg text-center">

                <p class="mb-0">you don't have an account? <a routerLink="/register">Sign up</a></p>
              </div>
            </form>






          </div>
        </div>

      </div>
    </div>
    <div *ngIf="authResponse.mfaEnabled && !forgotpassword">
      <div class="alert alert-primary" role="alert" *ngIf="message">
        <div class="success-message">{{ message }}</div>
      </div>

      <div class="alert alert-danger" role="alert" *ngIf="error">
        <div class="error-message">{{ error }}</div>
      </div>
      <div class="login-wrapper">
        <div class="loginbox">
          <div class="w-100">
            <div class="img-logo">   <div class="back-home">
              <h1>Set Up Two-Factor Authentication</h1>
            </div>
              <img src="/assets/FrontOffice/img/logo15.png" class="img-fluid" alt="Logo">

            </div>
            <div class="form-group">
              <label >Enter 6 digits Validation Code Generated by the app</label>
              <div class="otp-inputs">
                <input
                  type="text"
                  id="otp1"
                  name="otp1"
                  maxlength="1"
                  (input)="onOtpInput(1, $event)"
                >
                <input
                  type="text"
                  id="otp2"
                  name="otp2"
                  maxlength="1"
                  (input)="onOtpInput(2, $event)"
                >
                <input
                  type="text"
                  id="otp3"
                  name="otp3"
                  maxlength="1"
                  (input)="onOtpInput(3, $event)"
                >
                <input
                  type="text"
                  id="otp4"
                  name="otp4"
                  maxlength="1"
                  (input)="onOtpInput(4, $event)"
                >
                <input
                  type="text"
                  id="otp5"
                  name="otp5"
                  maxlength="1"
                  (input)="onOtpInput(5, $event)"
                >
                <input
                  type="text"
                  id="otp6"
                  name="otp6"
                  maxlength="1"
                  (input)="onOtpInput(6, $event)"
                >
              </div>
            </div>
            <button type="button" (click)="verifyCode()"
                    [class.button-disabled]="otpCode.length < 6"
            >Verify code</button>


          </div>
        </div>
      </div>

    </div>


          <div *ngIf="forgotpassword">
            <div class="login-wrapper">
              <div class="loginbox">
                <div class="w-100">
                  <div class="img-logo">

                    <div class="back-home">
                      <h1>Forgot Password ?</h1>
                    </div>
                    <img src="/assets/FrontOffice/img/logo15.png" class="img-fluid" alt="Logo">

                  </div>


                  <div class="reset-password">
                    <p>Enter your email to reset your password.</p>
                  </div>

                  <form [formGroup]="resetPasswordForm">
                    <div class="input-block">
                      <mat-form-field class="custom-input-width">
                        <mat-label>Email</mat-label>
                        <input type="email" matInput  [errorStateMatcher]="matcher" formControlName="emailreset"
                               placeholder="Ex. pat@example.com">
                        <mat-hint>Errors appear instantly!</mat-hint>

                        <mat-error *ngIf="resetPasswordForm.controls['emailreset'].hasError('emailreset') && !resetPasswordForm.controls['emailreset'].hasError('required')">
                          Please enter a valid email address
                        </mat-error>

                        <mat-error *ngIf="resetPasswordForm.controls['emailreset'].hasError('required')">
                          Email is <strong>required</strong>
                        </mat-error>
                      </mat-form-field>
                    </div>
                    <button mat-button type="submit" (click)="sendResetMail()"
                            [disabled]="resetPasswordForm.invalid">send </button>
                  </form>
                  <div class="forgot">
     <span>
       <a   class="forgot-link" (click)="forgotpassword=false" >go back</a>
   </span>
                  </div>


                  <div class="alert alert-primary" role="alert" *ngIf="message">
                    <div class="success-message">{{ message }}</div>
                  </div>

                  <div class="alert alert-danger" role="alert" *ngIf="error">
                    <div class="error-message">{{ error }}</div>
                  </div>



            </div>
          </div>


      </div>
    </div>
  </div>




</div>

<script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script src="../../../../assets/FrontOffice/js/jquery-3.7.1.min.js" type="18ff9ee43dff0a85569f8a89-text/javascript"></script>

<script src="assets/FrontOffice/js/bootstrap.bundle.min.js" type="18ff9ee43dff0a85569f8a89-text/javascript"></script>

<script src="/assets/FrontOffice/js/jquery.waypoints.js" type="18ff9ee43dff0a85569f8a89-text/javascript"></script>
<script src="/assets/FrontOffice/js/jquery.counterup.min.js" type="18ff9ee43dff0a85569f8a89-text/javascript"></script>

<script src="/assets/FrontOffice/plugins/select2/js/select2.min.js" type="18ff9ee43dff0a85569f8a89-text/javascript"></script>

<script src="/assets/FrontOffice/js/owl.carousel.min.js" type="18ff9ee43dff0a85569f8a89-text/javascript"></script>

<script src="/assets/FrontOffice/plugins/slick/slick.js" type="18ff9ee43dff0a85569f8a89-text/javascript"></script>

<script src="/assets/FrontOffice/plugins/aos/aos.js" type="18ff9ee43dff0a85569f8a89-text/javascript"></script>

<script src="/assets/FrontOffice/js/script.js" type="18ff9ee43dff0a85569f8a89-text/javascript"></script>
<script src="/cdn-cgi/scripts/7d0fa10a/cloudflare-static/rocket-loader.min.js" data-cf-settings="18ff9ee43dff0a85569f8a89-|49" defer></script>
</body>
</html>
