<div class="breadcrumb-bar containerSp">
    <div class="container">
      <app-error [errorMessage]="error"></app-error>
    <div class="row">
    <div class="col-md-12 col-12">
    <div class="breadcrumb-list">
    <nav aria-label="breadcrumb" class="page-breadcrumb">
    <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
    <li class="breadcrumb-item" aria-current="page">Pages</li>
    <li class="breadcrumb-item" aria-current="page">Courses</li>
    </ol>
    </nav>
    </div>
    </div>
    </div>
    </div>
    </div>    
    <section class="course-content container p-4"  *ngFor="let course of courses">
      <div class="row">
        <div class="col-lg-12 col-md-12 d-flex">
        <div class="course-box course-design list-course d-flex">
        <div class="product">
        <div class="product-img">
        <a href="course-details.html">
        <img class="img-fluid" alt [src]="course.imageUrl">
        </a>
        <div class="price">
        <h3>$300 <span>$99.00</span></h3>
        </div>
        </div>
        <div class="product-content">
        <div class="head-course-title">
        <h3 class="title"><a href="course-details.html">{{ course.name }}</a></h3>
        <div class="all-btn all-category d-flex align-items-center">
        <a href="javascript:void(0)" (click)="navigateToCourseDetails(course.id)"  class="btn btn-primary">Learn more</a>
        </div>
        </div>
        <div class="course-info border-bottom-0 pb-0 d-flex align-items-center">
        <div class="rating-img d-flex align-items-center">
        <img src="assets/img/icon/icon-01.svg" alt>
        <p>{{course.chapters.length}}+ Lesson</p>
        </div>
        <div class="course-view d-flex align-items-center">
        <img src="assets/img/icon/icon-02.svg" alt>
       
        </div>
        </div>
        <div class="rating">
          <app-rating [readonly]="true" [initialRate]="countRating(course.ratings)"></app-rating>
        <span class="d-inline-block average-rating"><span style="font-size: 1.4rem;margin-left: .3rem;margin-right: .3rem;" >{{course.ratings.length}}</span > <span style="font-size: 1.4rem;color: rgba(0, 0, 0, 0.673);">rating</span></span>
        </div>
        <div class="course-group d-flex mb-0">
        <div class="course-group-img d-flex">
        <a href="instructor-profile.html"><img src="assets/img/user/user1.jpg" alt class="img-fluid"></a>
        <div class="course-name">
        <h4><a href="instructor-profile.html">{{ course.courseCategory||"WEB" }}</a></h4>
        </div>
        </div>
        <div class="course-share d-flex align-items-center justify-content-center">
        <a href="#rate"><i class="fa-regular fa-heart"></i></a>
        </div>
        </div>
        </div>
        </div>
        </div>
        </div>
        </div>

    

    </section>
    
    