<section>
    <app-error [errorMessage]="error"></app-error>
    <app-show-ratings *ngIf="isRatingsDisplayed" [ratings]="ratingsRep" [courseId]="courseId"
        (hide)="hideDisplayRatings()" [ratingUrl]="ratingUrl" (idRating)="receiveId($event)"></app-show-ratings>
<div class="breadcrumb-bar">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-12">
          <div class="breadcrumb-list">
            <nav aria-label="breadcrumb" class="page-breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item" aria-current="page">Course</li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </div>
   </div>
   <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  
  
  <div class="container">
    <div  class="card">
      <div class="card-body">
        <div class="row gx-4 gx-lg-5 align-items-center">
          <div class="col-lg-5 col-md-5 col-sm-6">
            <div class="white-box text-center"><img style="width: 430px;height: 490px"   src={{course.imageUrl}}  class="img-responsive"></div>
          </div>
          <div class="col-lg-7 col-md-7 col-sm-6">
            <h3 class="card-title" style="font-weight: bold;">
                {{course.name}}
            </h3>
            <p>Level : {{course.uneversityYear}}
            </p>

            <p><span class="badge-front-category badge bg-primary"
                style="margin-left: auto;margin-right: 1rem; ">{{course.courseCategory||"WEB"}}</span></p>
            
            <p>
                 {{course.description}}
            </p>
            <div class="action">
              <div class="d-flex">
                <div class="d-flex justify-content-between align-items-center mb-0 px-2">
                    <div style="display: flex;align-items: center;cursor: pointer;"
                        *ngIf="course.ratings.length!=0" (click)="showRatings(course.ratings)">
                        <div style="width: 7rem;display: flex;align-items: center;">
                            <div style="width: 2rem;">
                                <img src="/assets/FrontOffice/img/user.png" alt="user icon" class="icon"
                                    style="padding-right: .3rem;">
                            </div>
                            <span style="color: blue;font-size: 1rem;">{{course.ratings.length}} ratings</span>
                        </div>
                        <app-rating [readonly]="readOnly" [initialRate]="courseRating"></app-rating>
                    </div>
                    <div *ngIf="course.ratings.length==0" class="all-btn all-category d-flex align-items-center" style="border-radius: .3rem;margin-bottom: 0;" >
                        <a href="javascript:void(0)" (click)="navigateToAddRatingToCourse(course.id)" style="border-radius: .3rem;"  class="btn btn-primary">Rate</a>
                        </div>

                </div>
                <table style="border-collapse: separate; border-spacing: 1cm;">
                  <tr>
                    <td>
                      <a href="javascript:void(0)" (click)="navigateToCoursesList()" class="btn btn-black" >
                        <i class="fa-solid fa-list"></i>&nbsp; Back To All Courses </a>
                    </td>
                  </tr>
                </table>
  
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card container">
    <div style="display: flex; align-items: center; justify-content: space-between;">
        <h5 class="card-header">Chapters</h5>
        <div class="all-btn all-category d-flex align-items-center" style="padding: 1rem 2rem;"
            (click)="navigateToAddChapter(course.id)">
            <a href="javascript:void(0)" class="btn btn-primary">Add Chapter</a>
        </div>
    </div>
    <div class="table-responsive text-nowrap">
      <table class="table">
        <thead class="table-light">
          <tr>
            <th>Name</th>
            <th>Creator</th>
            <th>Rating</th>
            <th><div style="display: flex;justify-content: center;"> Actions</div></th>
          </tr>
        </thead>
        <tbody class="table-border-bottom-0">
          <tr  *ngFor="let chapter of course?.chapters;let i=index">
            <td> <strong>{{chapter.title}}</strong></td>
            <td style="width: 250px;"><div style="display: flex;align-items: center;height: 48px;">{{chapter.owner.email}}</div></td>
            <td>
                <div class="d-flex justify-content-between align-items-center mb-0">
                    <div style="display: flex;align-items: center;cursor: pointer;"
                       >
                        <app-rating [readonly]="readOnly" [initialRate]="calcRating(chapter.ratings)"></app-rating>
                    </div>
                </div>
            </td>
            <td>
                <div style="display: flex;justify-content: center; align-items: center;">
                <button type="submit" class="btn btn-success-dark" style="margin-right: .2rem;" (click)="navigateToChapterDetail(chapter.id)">
                   &nbsp; SHOW DETAILS
                  </button>

                 </div>
                <!-- <div style="display: flex;justify-content: start; align-items: center;" *ngIf="isActionAllowd(chapter)">
                <button type="submit" class="btn btn-success-dark" style="margin-right: .2rem;">
                   &nbsp; Update
                  </button>
                  <button class="btn btn-black">
                    <i class="fas fa-times"></i>&nbsp; Delete
                  </button>
                 </div> -->
            </td>                
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="card container">
    <div style="display: flex; align-items: center; justify-content: space-between;">
        <h5 class="card-header">Summaries</h5>
        <div class="all-btn all-category d-flex align-items-center" style="padding: 1rem 2rem;"
        (click)="navigateToAddSummary(course.id)">
            <a href="javascript:void(0)" class="btn btn-primary">Add Summary</a>
        </div>
    </div>
    <div class="table-responsive text-nowrap">
      <table class="table">
        <thead class="table-light">
          <tr>
            <th>Name</th>
            <th>Creator</th>
            <th>Rating</th>
            <th><div style="display: flex;justify-content: center;"> Actions</div></th>
          </tr>
        </thead>
        <tbody class="table-border-bottom-0">
          <tr  *ngFor="let summary of course?.summaries;let i=index">
            <td> <strong>{{summary.title}}</strong></td>
            <td ><div style="display: flex;align-items: center;height: 48px;">{{summary.owner.email}}</div></td>
            <td>
                <div class="d-flex justify-content-between align-items-center mb-0">
                    <div style="display: flex;align-items: center;cursor: pointer;"
                      >
                        <app-rating [readonly]="readOnly" [initialRate]="calcRating(summary.ratings)"></app-rating>
                    </div>
                </div>
            </td>
            <td>
                <div style="display: flex;justify-content: center; align-items: center;">
                <button type="submit" class="btn btn-success-dark" style="margin-right: .2rem;" (click)="navigateToSummaryDetail(summary.id)">
                   &nbsp; SHOW DETAILS
                  </button>

                 </div>
                <!-- <div style="display: flex;justify-content: start; align-items: center;" *ngIf="isActionAllowd(chapter)">
                <button type="submit" class="btn btn-success-dark" style="margin-right: .2rem;">
                   &nbsp; Update
                  </button>
                  <button class="btn btn-black">
                    <i class="fas fa-times"></i>&nbsp; Delete
                  </button>
                 </div> -->
            </td>                
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>