
<div class="main-wrapper log-wrap"   >
  <div class="row">
    <div class="col-md-6 login-bg">
      <div>

        <div class="welcome-login">
          <div class="login-banner">
            <img src="assets/img/login-img.png" class="img-fluid" alt="Logo">
          </div>
          <div class="mentor-course text-center">
            <h2>Welcome to <br>EduHub ESPRIT</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6 login-wrap-bg" >
      <div class="login-wrapper">
        <div class="loginbox">
          <div class="w-100">
            <div class="img-logo">
              <img src="assets/img/logo15.png" class="img-fluid" alt="Logo">
              <div class="back-home">
                <a href="index.html">Back to Home</a>
              </div>
            </div>
            <h1>Forgot Password ?</h1>
            <div class="reset-password">
              <p>Enter your email to reset your password.</p>
            </div>
            <form  (ngSubmit)="resetPassword()">

              <div class="input-block">

                <label for="newpassword"> New Password</label>
                <div class="pass-group">
                  <input type="password" id="newpassword" name="password"
                         class="form-control pass-input" placeholder="Enter your password"
                         required [(ngModel)]="resetPwdRequest.newPassword">
                  <span class="feather-eye toggle-password"></span>
                </div>
              </div>

              <div class="input-block">

                <label for="confirmpassword"> Confirm New Password</label>
                <div class="pass-group">
                  <input type="password" id="confirmpassword" name="password"
                         class="form-control pass-input" placeholder="Enter your password"
                         required [(ngModel)]="resetPwdRequest.confirmPassword">
                  <span class="feather-eye toggle-password"></span>
                </div>
              </div>
              <div class="d-grid">
                <button class="btn btn-start" type="submit">Submit</button>
              </div>
            </form>
            <div class="success-message-panel" *ngIf="message">
              <div class="success-icon">&#10004;</div>
              <div class="success-message">{{message}}</div>
            </div>
            <div class="success-message-panel" *ngIf="error">
              <div class="error-icon">&#10008;</div>
              <div class="error-message">{{ error }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>




</div>
