<section class="page-content course-sec">
                            <div class="container">
                              <div class="row align-items-center">
                                <div class="col-md-12">
                                  <div class="add-course-header">
                                    <h2>Add New Course</h2>
                                    <div class="add-course-btns">
                                      <ul class="nav">
                                        <li>
                                          <a href="dashboard-instructor.html" class="btn btn-black">Back to Course</a>
                                        </li>
                                        <li>
                                          <a href="javascript:void(0);" class="btn btn-success-dark">Save</a>
                                        </li>
                                      </ul>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-md-12">
                                  <div class="card">

                                    <div class="widget-set">
                                      <div class="widget-setcount">
                                        <ul id="progressbar">
                                          <li>
                                            <p><span></span> Basic Information</p>
                                          </li>
                                          <li class="progress-active">
                                            <p><span></span> Trajectory</p>
                                          </li>
                                          <li>
                                            <p><span></span> Curriculum</p>
                                          </li>
                                          <li>
                                            <p><span></span> Settings</p>
                                          </li>
                                        </ul>
                                      </div>
                                      <div class="widget-content multistep-form">

                                        <div class="container" *ngIf="currentFieldsetIndex === 0">
                                          <fieldset id="first" name="first">
                                            <div class="add-course-info">
                                              <div class="add-course-inner-header">
                                                <h4>Basic Information</h4>
                                              </div>
                                              <div class="add-course-form">
                                                <form action="#">

                                                  <div class="input-block">
                                                    <label class="add-course-label">Available Places</label>
                                                    <input type="number" [(ngModel)]="journey.availablePlaces" name="availablePlaces" class="form-control" placeholder="Available places">
                                                  </div>

                                                  <div class="input-block">
                                                    <label class="add-course-label">Journey Day</label>
                                                    <select name="cars" class="form-control select" [(ngModel)]="journey.day" name="day">
                                                      <option value="monday">monday</option>
                                                      <option value="tuesday">tuesday</option>
                                                      <option value="wednesday">wednesday</option>
                                                      <option value="thursday">thursday</option>
                                                      <option value="friday">friday</option>
                                                      <option value="saturday">saturday</option>
                                                      <option value="sunday">sunday</option>
                                                    </select>
                                                  </div>

                                                  <div class="input-block">
                                                    <label class="add-course-label">Leaving Time</label>
                                                    <input type="time" [(ngModel)]="journey.leavingTime" name="leavingTime"  class="form-control" placeholder="Available places">
                                                  </div>

                        <div class="cs-form">
                          <label class="add-course-label">Return Time</label>
                          <input type="time" [(ngModel)]="journey.returnTime" name="returnTime" class="form-control" placeholder="Available places" value="10:05 AM">
                        </div>

                        <div class="input-block">
                          <label class="add-course-label">Courses Level</label>
                          <select class="form-control select">
                            <option>Level 01</option>
                            <option>Level 02</option>
                            <option>Level 03</option>
                            <option>Level 04</option>
                          </select>
                        </div>
                        <div class="input-block mb-0">
                          <label class="add-course-label">Course Description</label>
                          <div id="editor"></div>
                        </div>
                      </form>
                    </div>
                    <div class="widget-btn">
                      <a class="btn btn-black" (click)="prevFieldset()">Back</a>
                      <a class="btn btn-info-light next_btn" (click)="nextFieldset()">Continue</a>
                    </div>
                  </div>
                </fieldset>
                </div>
                                        <div class="container" *ngIf="currentFieldsetIndex === 1">
                                          <fieldset id="first" name="first">
                                            <div class="add-course-info">
                                              <div class="add-course-inner-header">
                                                <h4>Car</h4>
                                              </div>
                                              <div class="add-course-form">
                                                <form action="#">
                                        <div class="col-xl-9 col-md-8">
                                            <div class="settings-menu p-0">
                                              <div class="profile-heading">
                                                <p>This car will be the one that carrying carpoolers in this journey .</p>
                                              </div>
                                              <div class="address-check-widget comman-space">
                                                <div class="check-bill-address">
                                                  <div class="add-new-address grad-border hvr-sweep-to-right">
                                                    <a href="javascript:void(0);" class="btn btn-primary">Add New Car</a>
                                                  </div>
                                                  <div *ngFor="let car of cars">
                                                  <div class="edit-new-address wallet-method wallet-radio-blk d-flex align-items-center">
                                                    <label class="radio-inline custom_radio me-4">
                                                      <input type="radio" name="optradio" checked [value]="car">
                                                      <span class="checkmark"></span> {{car.manufacturer}} {{car.model}}
                                                    </label>
                                                    <div class="address-edits">
                                                      <a href="javascript:void(0);" class="edit-btn-blk "><i class="feather-edit"></i></a>
                                                    </div>
                                                  </div>
                                                  </div>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                                </form></div>
                                              <div class="widget-btn">
                                                <a class="btn btn-black" (click)="prevFieldset()">Back</a>
                                                <a class="btn btn-info-light next_btn" (click)="nextFieldset()">Continue</a>                                              </div>
                                            </div>
                                          </fieldset></div>

                <div class="container" *ngIf="currentFieldsetIndex === 2">
                  <fieldset id="first" name="first">
                    <div class="add-course-info">
                      <div class="add-course-inner-header">
                        <h4>Trajectory</h4>
                      </div>
                      <div class="add-course-form">
                        <form action="#">
                          <app-map [state]="true" (newItemEvent)="updateTraject($event)">{{journey.traject}}</app-map>
                        </form>
                      </div>
                      <div class="widget-btn">
                        <a class="btn btn-black" (click)="prevFieldset()">Back</a>
                        <a class="btn btn-info-light next_btn" (click)="addJourney()">Add Journey</a>
                      </div>
                    </div>
                  </fieldset></div>
                <fieldset class="field-card">
                  <div class="add-course-info">
                    <div class="add-course-inner-header">
                      <h4>Curriculum</h4>
                    </div>
                    <div class="add-course-section">
                      <a href="javascript:void(0);" class="btn">Add Section</a>
                    </div>
                    <div class="add-course-form">
                      <div class="curriculum-grid">
                        <div class="curriculum-head">
                          <p>Section 1: Introduction</p>
                          <a href="javascript:void(0);" class="btn">Add Lecture</a>
                        </div>
                        <div class="curriculum-info">
                          <div id="accordion">
                            <div class="faq-grid">
                              <div class="faq-header">
                                <a class="collapsed faq-collapse" data-bs-toggle="collapse" href="#collapseOne">
                                  <i class="fas fa-align-justify"></i> Introduction
                                </a>
                                <div class="faq-right">
                                  <a href="javascript:void(0);">
                                    <i class="far fa-pen-to-square me-1"></i>
                                  </a>
                                  <a href="javascript:void(0);" class="me-0">
                                    <i class="far fa-trash-can"></i>
                                  </a>
                                </div>
                              </div>
                              <div id="collapseOne" class="collapse" data-bs-parent="#accordion">
                                <div class="faq-body">
                                  <div class="add-article-btns">
                                    <a href="javascript:void(0);" class="btn">Add Article</a>
                                    <a href="javascript:void(0);" class="btn me-0">Add Description</a>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="faq-grid">
                              <div class="faq-header">
                                <a class="collapsed faq-collapse" data-bs-toggle="collapse" href="#collapseTwo">
                                  <i class="fas fa-align-justify"></i> Installing Development Software
                                </a>
                                <div class="faq-right">
                                  <a href="javascript:void(0);">
                                    <i class="far fa-pen-to-square me-1"></i>
                                  </a>
                                  <a href="javascript:void(0);" class="me-0">
                                    <i class="far fa-trash-can"></i>
                                  </a>
                                </div>
                              </div>
                              <div id="collapseTwo" class="collapse" data-bs-parent="#accordion">
                                <div class="faq-body">
                                  <div class="add-article-btns">
                                    <a href="javascript:void(0);" class="btn">Add Article</a>
                                    <a href="javascript:void(0);" class="btn me-0">Add Description</a>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="faq-grid mb-0">
                              <div class="faq-header">
                                <a class="collapsed faq-collapse" data-bs-toggle="collapse" href="#collapseThree">
                                  <i class="fas fa-align-justify"></i> Hello World Project from GitHub
                                </a>
                                <div class="faq-right">
                                  <a href="javascript:void(0);">
                                    <i class="far fa-pen-to-square me-1"></i>
                                  </a>
                                  <a href="javascript:void(0);" class="me-0">
                                    <i class="far fa-trash-can"></i>
                                  </a>
                                </div>
                              </div>
                              <div id="collapseThree" class="collapse" data-bs-parent="#accordion">
                                <div class="faq-body">
                                  <div class="add-article-btns">
                                    <a href="javascript:void(0);" class="btn">Add Article</a>
                                    <a href="javascript:void(0);" class="btn me-0">Add Description</a>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="curriculum-grid mb-0">
                        <div class="curriculum-head">
                          <p>Section 1: JavaScript Beginnings</p>
                          <a href="javascript:void(0);" class="btn">Add Lecture</a>
                        </div>
                        <div class="curriculum-info">
                          <div id="accordion-one">
                            <div class="faq-grid">
                              <div class="faq-header">
                                <a class="collapsed faq-collapse" data-bs-toggle="collapse" href="#collapseFour">
                                  <i class="fas fa-align-justify"></i> Introduction
                                </a>
                                <div class="faq-right">
                                  <a href="javascript:void(0);">
                                    <i class="far fa-pen-to-square me-1"></i>
                                  </a>
                                  <a href="javascript:void(0);" class="me-0">
                                    <i class="far fa-trash-can"></i>
                                  </a>
                                </div>
                              </div>
                              <div id="collapseFour" class="collapse" data-bs-parent="#accordion-one">
                                <div class="faq-body">
                                  <div class="add-article-btns">
                                    <a href="javascript:void(0);" class="btn">Add Article</a>
                                    <a href="javascript:void(0);" class="btn me-0">Add Description</a>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="faq-grid">
                              <div class="faq-header">
                                <a class="collapsed faq-collapse" data-bs-toggle="collapse" href="#collapseFive">
                                  <i class="fas fa-align-justify"></i> Installing Development Software
                                </a>
                                <div class="faq-right">
                                  <a href="javascript:void(0);">
                                    <i class="far fa-pen-to-square me-1"></i>
                                  </a>
                                  <a href="javascript:void(0);" class="me-0">
                                    <i class="far fa-trash-can"></i>
                                  </a>
                                </div>
                              </div>
                              <div id="collapseFive" class="collapse" data-bs-parent="#accordion-one">
                                <div class="faq-body">
                                  <div class="add-article-btns">
                                    <a href="javascript:void(0);" class="btn">Add Article</a>
                                    <a href="javascript:void(0);" class="btn me-0">Add Description</a>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="faq-grid">
                              <div class="faq-header">
                                <a class="collapsed faq-collapse" data-bs-toggle="collapse" href="#collapseSix">
                                  <i class="fas fa-align-justify"></i> Hello World Project from GitHub
                                </a>
                                <div class="faq-right">
                                  <a href="javascript:void(0);">
                                    <i class="far fa-pen-to-square me-1"></i>
                                  </a>
                                  <a href="javascript:void(0);" class="me-0">
                                    <i class="far fa-trash-can"></i>
                                  </a>
                                </div>
                              </div>
                              <div id="collapseSix" class="collapse" data-bs-parent="#accordion-one">
                                <div class="faq-body">
                                  <div class="add-article-btns">
                                    <a href="javascript:void(0);" class="btn">Add Article</a>
                                    <a href="javascript:void(0);" class="btn me-0">Add Description</a>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="faq-grid mb-0">
                              <div class="faq-header">
                                <a class="collapsed faq-collapse" data-bs-toggle="collapse" href="#collapseSeven">
                                  <i class="fas fa-align-justify"></i> Our Sample Website
                                </a>
                                <div class="faq-right">
                                  <a href="javascript:void(0);">
                                    <i class="far fa-pen-to-square me-1"></i>
                                  </a>
                                  <a href="javascript:void(0);" class="me-0">
                                    <i class="far fa-trash-can"></i>
                                  </a>
                                </div>
                              </div>
                              <div id="collapseSeven" class="collapse" data-bs-parent="#accordion-one">
                                <div class="faq-body">
                                  <div class="add-article-btns">
                                    <a href="javascript:void(0);" class="btn">Add Article</a>
                                    <a href="javascript:void(0);" class="btn me-0">Add Description</a>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="widget-btn">
                      <a class="btn btn-black prev_btn">Previous</a>
                      <a class="btn btn-info-light next_btn">Continue</a>
                    </div>
                  </div>
                </fieldset>
                <fieldset class="field-card">
                  <div class="add-course-info">
                    <div class="add-course-inner-header">
                      <h4>Requirements</h4>
                    </div>
                    <div class="add-course-form">
                      <form action="#">
                        <div class="input-block input-block-tagsinput">
                          <input type="text" data-role="tagsinput" class="input-tags form-control" name="html" value="jquery, bootstrap" id="html">
                        </div>
                        <div class="input-block mb-0">
                          <label class="add-course-label">Price</label>
                          <input type="text" class="form-control" placeholder="10.00">
                        </div>
                      </form>
                    </div>
                    <div class="widget-btn">
                      <a class="btn btn-black prev_btn">Previous</a>
                      <a class="btn btn-info-light next_btn">Continue</a>
                    </div>
                  </div>
                </fieldset>
                <fieldset class="field-card">
                  <div class="add-course-info">
                    <div class="add-course-msg">
                      <i class="fas fa-circle-check"></i>
                      <h4>The Course Added Succesfully</h4>
                      <p>Admin will be Approve soon.</p>
                    </div>
                  </div>
                </fieldset>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>
