
<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
  <div class="app-brand demo">
    <a href="index.html" class="app-brand-link">
              <span class="app-brand-logo demo">
<img src="/assets/BackOffice/assets/img/logo15.png" width="190" height="190">
              </span>
      <span class="app-brand-text demo menu-text fw-bolder ms-2"></span>
    </a>

    <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
      <i class="bx bx-chevron-left bx-sm align-middle"></i>
    </a>
  </div>

  <div class="menu-inner-shadow"></div>

  <ul class="menu-inner py-1">
    <!-- Dashboard -->
    <li [class.active]="activeTab === 'userDashboard'" class="menu-item">
      <a  (click)=" setActiveItem('userDashboard')"
        routerLink="/admin/userstat" class="menu-link">
        <i class="menu-icon tf-icons bx bx-home-circle"></i>
        <div data-i18n="Analytics"> user Dashboard</div>
      </a>
    </li>
    <li [class.active]="activeTab === 'lockUser'" class="menu-item">
      <a    (click)=" setActiveItem('lockUser')"
        routerLink="/admin/lockuser" class="menu-link">
        <i class="menu-icon tf-icons bx bx-lock"></i>
        <div data-i18n="Analytics"> lock users </div>
      </a>
    </li>


    <li class="menu-item"><a (click)="logout()" class="menu-link" >
      <i class="menu-icon tf-icons bx bx-log-out"></i>
      LogOut</a></li>


  </ul>
</aside>
