<section class="page-content course-sec">
                            <div class="container">
                              <div class="row align-items-center">
                                <div class="col-md-12">
                                  <div class="add-course-header">
                                    <h2>Add New Journey</h2>
                                    <div class="add-course-btns">
                                      <ul class="nav">
                                        <li>
                                          <a href="/home/list_journey" class="btn btn-black">Back to Journeys</a>
                                        </li>
                                        <li>
                                          <a href="javascript:void(0);" class="btn btn-success-dark">Save</a>
                                        </li>
                                      </ul>
                                    </div>
                                  </div>
                                </div>
                              </div>

                              <div class="row">
                                <div class="col-md-12">
                                  <div class="card">

                                    <div class="widget-set">
                                      <div class="widget-setcount">
                                        <ul id="progressbar">
                                            <li class="progress-active" [class.progress-active]="currentFieldsetIndex==0">
                                              <p><span></span> Basic Information</p>
                                            </li>
                                            <li class="progress-active" [class.progress-active]="currentFieldsetIndex==1">
                                              <p><span></span> Car Selection</p>
                                            </li>
                                            <li class="progress-active" [class.progress-active]="currentFieldsetIndex==2">
                                              <p><span></span> Trajectory Drawing</p>
                                            </li>
                                            <li>
                                              <p><span></span> Save</p>
                                            </li>
                                        </ul>
                                      </div>
                                      <div class="widget-content multistep-form">

                                        <div class="container" *ngIf="currentFieldsetIndex === 0">
                                          <fieldset id="first" name="first">
                                            <div class="add-course-info">
                                              <div class="add-course-inner-header">
                                                <h4>Basic Information</h4>
                                              </div>
                                              <div class="add-course-form">
                                                <form action="#">

                                                  <div class="input-block">
                                                    <label class="add-course-label">Price</label>
                                                    <input type="number" [(ngModel)]="journey.price" name="availablePlaces" class="form-control" placeholder="Price">
                                                  </div>

<!--                                                  <div class="input-block">-->
<!--                                                    <label class="add-course-label">Journey Day</label>-->
<!--                                                    <select name="cars" class="form-control select" [(ngModel)]="journey.day" name="day">-->
<!--                                                      <option value="monday">monday</option>-->
<!--                                                      <option value="tuesday">tuesday</option>-->
<!--                                                      <option value="wednesday">wednesday</option>-->
<!--                                                      <option value="thursday">thursday</option>-->
<!--                                                      <option value="friday">friday</option>-->
<!--                                                      <option value="saturday">saturday</option>-->
<!--                                                      <option value="sunday">sunday</option>-->
<!--                                                    </select>-->
<!--                                                  </div>-->
                                                  <div class="input-block">
                                                    <label class="add-course-label">Journey Day</label>
                                                    <input type="date" class="form-control" [(ngModel)]="journey.day" name="day">
                                                  </div>

                                                  <div class="input-block">
                                                    <label class="add-course-label">Leaving Time</label>
                                                    <input type="time" [(ngModel)]="journey.leavingTime" name="leavingTime"  class="form-control" placeholder="Available places">
                                                  </div>

                        <div class="cs-form">
                          <label class="add-course-label">Return Time</label>
                          <input type="time" [(ngModel)]="journey.returnTime" name="returnTime" class="form-control" placeholder="Available places" value="10:05 AM">
                        </div>
                      </form>
                    </div>
                    <div class="widget-btn">
                      <a class="btn btn-black" (click)="prevFieldset()">Back</a>
                      <a class="btn btn-info-light next_btn" (click)="nextFieldset()">Continue</a>
                    </div>
                  </div>
                </fieldset>
                </div>
                                        <div class="container" *ngIf="currentFieldsetIndex === 1">
                                          <fieldset id="first" name="first">
                                            <div class="add-course-info">
                                              <div class="add-course-inner-header">
                                                <h4>Car</h4>
                                              </div>
                                              <div class="add-course-form">
                                                <form action="#">
                                        <div class="col-xl-9 col-md-8">
                                            <div class="settings-menu p-0">
                                              <div class="profile-heading">
                                                <p>This car will be the one that carrying carpoolers in this journey .</p>
                                              </div>
                                              <div class="address-check-widget comman-space">
                                                <div class="check-bill-address">
                                                  <div class="add-new-address grad-border hvr-sweep-to-right">
                                                    <a href="/add_car" class="btn btn-primary">Add New Car</a>
                                                  </div>
                                                  <div *ngFor="let car of cars">
                                                  <div class="edit-new-address wallet-method wallet-radio-blk d-flex align-items-center">
                                                    <label class="radio-inline custom_radio me-4">
                                                      <input type="radio" name="optradio" (change)="onCarChange(car)">
                                                      <span class="checkmark"></span> {{car.manufacturer}} {{car.model}}
                                                    </label>
                                                    <div class="address-edits">
                                                      <a href="javascript:void(0);" class="edit-btn-blk "><i class="feather-edit"></i></a>
                                                    </div>
                                                  </div>
                                                  </div>

                                                  <div class="input-block">
                                                    <label class="add-course-label">Available Places</label>
                                                    <input type="number" max="5" [(ngModel)]="journey.availablePlaces" name="availablePlaces" class="form-control" placeholder="Available places">
                                                  </div>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                                </form></div>
                                              <div class="widget-btn">
                                                <a class="btn btn-black" (click)="prevFieldset()">Back</a>
                                                <a class="btn btn-info-light next_btn" (click)="nextFieldset()">Continue</a>                                              </div>
                                            </div>
                                          </fieldset></div>

                <div class="container" *ngIf="currentFieldsetIndex === 2">
                  <fieldset id="first" name="first">
                    <div class="add-course-info">
                      <div class="add-course-inner-header">
                        <h4>Trajectory</h4>
                      </div>
                      <div class="add-course-form">
                        <form action="#">
                          <app-map [state]="true" (newItemEvent)="updateTraject($event)">{{journey.traject}}</app-map>
                        </form>
                      </div>
                      <div class="widget-btn">
                        <a class="btn btn-black" (click)="prevFieldset()">Back</a>
                        <a class="btn btn-info-light next_btn" (click)="addJourney()">Add Journey</a>
                      </div>
                    </div>
                  </fieldset></div>
                <fieldset class="field-card">
                  <div class="add-course-info">
                    <div class="add-course-msg">
                      <i class="fas fa-circle-check"></i>
                      <h4>The Journey Added Succesfully</h4>
                      <p>Admin will be Approve soon.</p>
                    </div>
                  </div>
                </fieldset>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>
