<div class="container">
    <div class="blog-content blog-read mb-3 text-end">

        <a href="javascript:void(0)" (click)="navigateToCourse()"
            class="read-more btn btn-primary">Back to Course</a>
    </div>
<div *ngIf="summary" class="card overview-sec">
    <div class="card-body">
        <h5 class="subs-title">{{summary.title}}</h5>
        <h6>Summary Description</h6>
        <p>
            {{summary.description}}
        </p>

        <div class="container mt-3">
            <div class="row">
              <div class="col-md-4" *ngFor="let file of summary.files">
                <div class="card-file mb-4 shadow-sm">
                  <div class="card-body">
                    <a href={{file.url}}>
                    <h5 class="card-title">{{ file.fileName }}</h5>
                    <!-- Additional content if needed -->
                </a>  
                </div>
                </div>
              </div>
            </div>
          </div>
    </div>
</div>
</div> 