


<section class="page-content course-sec">
    <div class="container">
        <app-error [errorMessage]="error"></app-error>
        <div class="row align-items-center">
            <div class="col-md-12">
                <div class="add-course-header">
                    <h2>Add New Chapter</h2>
                    <div class="add-course-btns">
                        <ul class="nav">
                            <li>
                                <a href="javascript:void(0)" (click)="navigateToCourse()" class="btn btn-black">Back to Course</a>
                            </li>
                            <li>
                                <a (click)="onSubmit()" href="javascript:void(0);" class="btn btn-success-dark">Save</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">

                    <div class="widget-set">

                        <div class="widget-content multistep-form">
                            <fieldset id="first">
                                <div class="add-course-info">
                                    <div class="add-course-inner-header">
                                        <h4>Basic Information</h4>
                                    </div>
                                    <div class="add-course-form"> 
                                        <form [formGroup]=" addChapterForm">
                                            <div class="input-block">
                                                <label class="add-course-label" for="title">Chapter Title</label>
                                                <input type="text" class="form-control" id="title" formControlName="title"
                                                    placeholder="Chapter Title">
                                                    <small  *ngIf="addChapterForm.get('title')?.invalid && addChapterForm.get('title')?.touched && addChapterForm.get('title')?.errors?.['required']!=null ">
                                                        Chapter title is required.
                                                    </small>
                                                    <small *ngIf="addChapterForm.get('title')?.invalid && addChapterForm.get('title')?.touched && addChapterForm.get('title')?.errors?.['minlength']!=null ">
                                                        Chapter title length should be > 3.
                                                    </small>
                                            </div>
                                            <div class="input-block" >
                                                <label class="add-course-label" for="description">Chapter description</label>
                                                <input type="text" class="form-control" id="description" formControlName="description"
                                                    placeholder="Chapter Description">
                                                    <small  *ngIf="addChapterForm.get('description')?.invalid && addChapterForm.get('description')?.touched && addChapterForm.get('description')?.errors?.['required']!=null ">
                                                        Chapter description is required.
                                                    </small>
                                                    <small *ngIf="addChapterForm.get('description')?.invalid && addChapterForm.get('description')?.touched && addChapterForm.get('description')?.errors?.['minlength']!=null ">
                                                        Chapter description length should be > 3.
                                                    </small>
                                            </div>
                                        </form>
                                    </div>
                                 
                                </div>
                            </fieldset>
                 
                       
                     
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>


