.container {
    margin: 20px;
    padding-top: .5rem;
    padding-bottom: .5rem;
    border-radius: 10px;
    /* Add shadow */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    
  }
  
  .collapse {
    display: none; /* Initially hidden */
  }
  
  .collapse.show {
    display: block; /* Display when 'show' class is added */
  }

  .collapse-container{
    padding: 2rem;
    position: relative;
  }
  .collapse-controll{
    width: 25px;
    cursor: pointer;
  }
  .collapse-controll-container{
display: flex;
justify-content: space-between;
margin-bottom: .5rem;
align-items: center;

  }
  .title{
    flex:2;
  }