.overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
    z-index: 9999; /* Ensure the overlay appears on top of other elements */
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

}
.overlay-content{
   background-color: white;
   width: 80%;
   height: 85%;
   border-radius: 1.2rem;
   padding:3rem ;
   overflow-y:scroll ;

}
.rating-item{
    padding: 1.5rem;
    border:1px gray solid;
    border-radius: 1rem;
    margin-bottom: 1rem;

}

.user-info-container{
    
    margin-bottom: 1.5rem;
    display: inline-block;
}
.user-icon{
width: 1.5rem;
}
.user-name{
  font-family: 'Courier New', Courier, monospace;
  color:blue;
  font-weight: 600;
  font-size: 1rem;
}
.rating-content{
    padding: .5rem;
    margin-bottom: .2rem;

}
.border-sp{
    width: 6.5rem;
    border-bottom: 1px gray solid;
    margin-bottom: .3rem;
}