<section class="page-content course-sec containerSp">
    <div class="container">
        <app-error [errorMessage]="error"></app-error>
        <div class="row align-items-center">
            <div class="col-md-12">
                <div class="add-course-header">
                    <h2>Update Summary</h2>
                    <div class="add-course-btns">
                        <ul class="nav">
                            <li>
                                <a href="javascript:void(0)" (click)="navigateToResource()" class="btn btn-black">Back to {{resource.slice(0, -1)}}</a>
                            </li>
                            <li>
                                <a (click)="onSubmit()" href="javascript:void(0);" class="btn btn-success-dark">Save</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">

                    <div class="widget-set">

                        <div class="widget-content multistep-form">
                            <fieldset id="first">
                                <div class="add-course-info">
                                    <div class="add-course-inner-header">
                                        <h4>Basic Information</h4>
                                    </div>
                                    <div class="add-course-form"> 
                                        <form [formGroup]="updateSummaryForm">
                                            <div class="input-block">
                                                <!-- <label class="add-course-label" for="title">Summary Title</label> -->
                                                <input type="hidden" class="form-control" id="title" formControlName="title"
                                                    placeholder="Summary Title">
                                                    <small style="display: none;"  *ngIf="updateSummaryForm.get('title')?.invalid && updateSummaryForm.get('title')?.touched && updateSummaryForm.get('title')?.errors?.['required']!=null ">
                                                        Summary title is required.
                                                    </small>
                                                    <small style="display: none;" *ngIf="updateSummaryForm.get('title')?.invalid && updateSummaryForm.get('title')?.touched && updateSummaryForm.get('title')?.errors?.['minlength']!=null ">
                                                        Summary title length should be > 3.
                                                    </small>
                                            </div>
                                            <div class="input-block" >
                                                <label class="add-course-label" for="title">Summary title</label>
                                                <input type="text" class="form-control" id="title" formControlName="title"
                                                    placeholder="Summary title">
                                                    <small  *ngIf="updateSummaryForm.get('title')?.invalid && updateSummaryForm.get('title')?.touched && updateSummaryForm.get('title')?.errors?.['required']!=null ">
                                                        Summary title is required.
                                                    </small>
                                                    <small *ngIf="updateSummaryForm.get('title')?.invalid && updateSummaryForm.get('title')?.touched && updateSummaryForm.get('title')?.errors?.['minlength']!=null ">
                                                        Summary title length should be > 3.
                                                    </small>
                                            </div>
                                            <div class="input-block" >
                                                <label class="add-course-label" for="description">Summary description</label>
                                                <input type="text" class="form-control" id="description" formControlName="description"
                                                    placeholder="Summary Description">
                                                    <small  *ngIf="updateSummaryForm.get('description')?.invalid && updateSummaryForm.get('description')?.touched && updateSummaryForm.get('description')?.errors?.['required']!=null ">
                                                        Summary description is required.
                                                    </small>
                                                    <small *ngIf="updateSummaryForm.get('description')?.invalid && updateSummaryForm.get('description')?.touched && updateSummaryForm.get('description')?.errors?.['minlength']!=null ">
                                                        Summary description length should be > 3.
                                                    </small>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset class="field-card">
                                <div class="add-course-info">
                                    <div class="add-course-inner-header">
                                        <h4>Courses Media</h4>
                                    </div>
                                    <div class="add-course-form">
                                        <form action="#">
                                            <div class="input-block">
                                                <label class="add-course-label">Course cover image</label>
                                                <div class="relative-form">
                                                    <span>No File Selected</span>
                                                    <label class="relative-file-upload">
                                                        Upload File <input type="file">
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="input-block">
                                                <div class="add-image-box">
                                                    <a href="javascript:void(0);">
                                                        <i class="far fa-image"></i>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="input-block">
                                                <input type="text" class="form-control" placeholder="Video URL">
                                            </div>
                                            <div class="input-block">
                                                <div class="add-image-box add-video-box">
                                                    <a href="javascript:void(0);">
                                                        <i class="fas fa-circle-play"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="widget-btn">
                                        <a class="btn btn-black prev_btn">Previous</a>
                                        <a class="btn btn-info-light next_btn">Continue</a>
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset class="field-card">
                                <div class="add-course-info">
                                    <div class="add-course-inner-header">
                                        <h4>Curriculum</h4>
                                    </div>
                                    <div class="add-course-section">
                                        <a href="javascript:void(0);" class="btn">Add Section</a>
                                    </div>
                                    <div class="add-course-form">
                                        <div class="curriculum-grid">
                                            <div class="curriculum-head">
                                                <p>Section 1: Introduction</p>
                                                <a href="javascript:void(0);" class="btn">Add Lecture</a>
                                            </div>
                                            <div class="curriculum-info">
                                                <div id="accordion">
                                                    <div class="faq-grid">
                                                        <div class="faq-header">
                                                            <a class="collapsed faq-collapse"
                                                                data-bs-toggle="collapse" href="#collapseOne">
                                                                <i class="fas fa-align-justify"></i>
                                                                Introduction
                                                            </a>
                                                            <div class="faq-right">
                                                                <a href="javascript:void(0);">
                                                                    <i class="far fa-pen-to-square me-1"></i>
                                                                </a>
                                                                <a href="javascript:void(0);" class="me-0">
                                                                    <i class="far fa-trash-can"></i>
                                                                </a>
                                                            </div>
                                                        </div>
                                                        <div id="collapseOne" class="collapse"
                                                            data-bs-parent="#accordion">
                                                            <div class="faq-body">
                                                                <div class="add-article-btns">
                                                                    <a href="javascript:void(0);"
                                                                        class="btn">Add Article</a>
                                                                    <a href="javascript:void(0);"
                                                                        class="btn me-0">Add Description</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="faq-grid">
                                                        <div class="faq-header">
                                                            <a class="collapsed faq-collapse"
                                                                data-bs-toggle="collapse" href="#collapseTwo">
                                                                <i class="fas fa-align-justify"></i> Installing
                                                                Development Software
                                                            </a>
                                                            <div class="faq-right">
                                                                <a href="javascript:void(0);">
                                                                    <i class="far fa-pen-to-square me-1"></i>
                                                                </a>
                                                                <a href="javascript:void(0);" class="me-0">
                                                                    <i class="far fa-trash-can"></i>
                                                                </a>
                                                            </div>
                                                        </div>
                                                        <div id="collapseTwo" class="collapse"
                                                            data-bs-parent="#accordion">
                                                            <div class="faq-body">
                                                                <div class="add-article-btns">
                                                                    <a href="javascript:void(0);"
                                                                        class="btn">Add Article</a>
                                                                    <a href="javascript:void(0);"
                                                                        class="btn me-0">Add Description</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="faq-grid mb-0">
                                                        <div class="faq-header">
                                                            <a class="collapsed faq-collapse"
                                                                data-bs-toggle="collapse" href="#collapseThree">
                                                                <i class="fas fa-align-justify"></i> Hello World
                                                                Project from GitHub
                                                            </a>
                                                            <div class="faq-right">
                                                                <a href="javascript:void(0);">
                                                                    <i class="far fa-pen-to-square me-1"></i>
                                                                </a>
                                                                <a href="javascript:void(0);" class="me-0">
                                                                    <i class="far fa-trash-can"></i>
                                                                </a>
                                                            </div>
                                                        </div>
                                                        <div id="collapseThree" class="collapse"
                                                            data-bs-parent="#accordion">
                                                            <div class="faq-body">
                                                                <div class="add-article-btns">
                                                                    <a href="javascript:void(0);"
                                                                        class="btn">Add Article</a>
                                                                    <a href="javascript:void(0);"
                                                                        class="btn me-0">Add Description</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="curriculum-grid mb-0">
                                            <div class="curriculum-head">
                                                <p>Section 1: JavaScript Beginnings</p>
                                                <a href="javascript:void(0);" class="btn">Add Lecture</a>
                                            </div>
                                            <div class="curriculum-info">
                                                <div id="accordion-one">
                                                    <div class="faq-grid">
                                                        <div class="faq-header">
                                                            <a class="collapsed faq-collapse"
                                                                data-bs-toggle="collapse" href="#collapseFour">
                                                                <i class="fas fa-align-justify"></i>
                                                                Introduction
                                                            </a>
                                                            <div class="faq-right">
                                                                <a href="javascript:void(0);">
                                                                    <i class="far fa-pen-to-square me-1"></i>
                                                                </a>
                                                                <a href="javascript:void(0);" class="me-0">
                                                                    <i class="far fa-trash-can"></i>
                                                                </a>
                                                            </div>
                                                        </div>
                                                        <div id="collapseFour" class="collapse"
                                                            data-bs-parent="#accordion-one">
                                                            <div class="faq-body">
                                                                <div class="add-article-btns">
                                                                    <a href="javascript:void(0);"
                                                                        class="btn">Add Article</a>
                                                                    <a href="javascript:void(0);"
                                                                        class="btn me-0">Add Description</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="faq-grid">
                                                        <div class="faq-header">
                                                            <a class="collapsed faq-collapse"
                                                                data-bs-toggle="collapse" href="#collapseFive">
                                                                <i class="fas fa-align-justify"></i> Installing
                                                                Development Software
                                                            </a>
                                                            <div class="faq-right">
                                                                <a href="javascript:void(0);">
                                                                    <i class="far fa-pen-to-square me-1"></i>
                                                                </a>
                                                                <a href="javascript:void(0);" class="me-0">
                                                                    <i class="far fa-trash-can"></i>
                                                                </a>
                                                            </div>
                                                        </div>
                                                        <div id="collapseFive" class="collapse"
                                                            data-bs-parent="#accordion-one">
                                                            <div class="faq-body">
                                                                <div class="add-article-btns">
                                                                    <a href="javascript:void(0);"
                                                                        class="btn">Add Article</a>
                                                                    <a href="javascript:void(0);"
                                                                        class="btn me-0">Add Description</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="faq-grid">
                                                        <div class="faq-header">
                                                            <a class="collapsed faq-collapse"
                                                                data-bs-toggle="collapse" href="#collapseSix">
                                                                <i class="fas fa-align-justify"></i> Hello World
                                                                Project from GitHub
                                                            </a>
                                                            <div class="faq-right">
                                                                <a href="javascript:void(0);">
                                                                    <i class="far fa-pen-to-square me-1"></i>
                                                                </a>
                                                                <a href="javascript:void(0);" class="me-0">
                                                                    <i class="far fa-trash-can"></i>
                                                                </a>
                                                            </div>
                                                        </div>
                                                        <div id="collapseSix" class="collapse"
                                                            data-bs-parent="#accordion-one">
                                                            <div class="faq-body">
                                                                <div class="add-article-btns">
                                                                    <a href="javascript:void(0);"
                                                                        class="btn">Add Article</a>
                                                                    <a href="javascript:void(0);"
                                                                        class="btn me-0">Add Description</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="faq-grid mb-0">
                                                        <div class="faq-header">
                                                            <a class="collapsed faq-collapse"
                                                                data-bs-toggle="collapse" href="#collapseSeven">
                                                                <i class="fas fa-align-justify"></i> Our Sample
                                                                Website
                                                            </a>
                                                            <div class="faq-right">
                                                                <a href="javascript:void(0);">
                                                                    <i class="far fa-pen-to-square me-1"></i>
                                                                </a>
                                                                <a href="javascript:void(0);" class="me-0">
                                                                    <i class="far fa-trash-can"></i>
                                                                </a>
                                                            </div>
                                                        </div>
                                                        <div id="collapseSeven" class="collapse"
                                                            data-bs-parent="#accordion-one">
                                                            <div class="faq-body">
                                                                <div class="add-article-btns">
                                                                    <a href="javascript:void(0);"
                                                                        class="btn">Add Article</a>
                                                                    <a href="javascript:void(0);"
                                                                        class="btn me-0">Add Description</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="widget-btn">
                                        <a class="btn btn-black prev_btn">Previous</a>
                                        <a class="btn btn-info-light next_btn">Continue</a>
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset class="field-card">
                                <div class="add-course-info">
                                    <div class="add-course-inner-header">
                                        <h4>Requirements</h4>
                                    </div>
                                    <div class="add-course-form">
                                        <form action="#">
                                            <div class="input-block input-block-tagsinput">
                                                <input type="text" data-role="tagsinput"
                                                    class="input-tags form-control" name="html"
                                                    value="jquery, bootstrap" id="html">
                                            </div>
                                            <div class="input-block mb-0">
                                                <label class="add-course-label">Price</label>
                                                <input type="text" class="form-control" placeholder="10.00">
                                            </div>
                                        </form>
                                    </div>
                                    <div class="widget-btn">
                                        <a class="btn btn-black prev_btn">Previous</a>
                                        <a class="btn btn-info-light next_btn">Continue</a>
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset class="field-card">
                                <div class="add-course-info">
                                    <div class="add-course-msg">
                                        <i class="fas fa-circle-check"></i>
                                        <h4>The Course Added Succesfully</h4>
                                        <p>Admin will be Approve soon.</p>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
