<div class="container">
  <fieldset id="first" name="first">
    <div class="add-course-info">
      <div class="add-course-inner-header">
        <h4>Car</h4>
      </div>
      <div class="add-course-form">
        <form action="#">
          <div class="col-xl-9 col-md-8">
            <div class="settings-menu p-0">
              <div class="profile-heading">
                <p>This location will be considered your home location .</p>
              </div>
              <div class="address-check-widget comman-space">
                <div class="check-bill-address">
                  <div class="map" id="map" class="match-parent"></div>
                </div>
                <div class="input-block mb-0">
                  <label class="add-course-label">Address</label>
                  <input type="text" class="form-control" placeholder="10.00">
                </div>
              </div>
            </div>
          </div>
        </form></div>
      <div class="widget-btn">
        <a class="btn btn-black" >decline</a>
        <a class="btn btn-info-light next_btn" (click)="saveLocation()">Save</a>
      </div>
    </div>
  </fieldset></div>
