
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Box with Shadow</title>
  <link rel="shortcut icon" type="image/x-icon" href="/assets/FrontOffice/img/favicon.svg">

  <link rel="stylesheet" href="/assets/FrontOffice/css/bootstrap.min.css">

  <link rel="stylesheet" href="/assets/FrontOffice/plugins/fontawesome/css/fontawesome.min.css">
  <link rel="stylesheet" href="/assets/FrontOffice/plugins/fontawesome/css/all.min.css">

  <link rel="stylesheet" href="/assets/FrontOffice/css/owl.carousel.min.css">
  <link rel="stylesheet" href="/assets/FrontOffice/css/owl.theme.default.min.css">

  <link rel="stylesheet" href="/assets/FrontOffice/plugins/slick/slick.css">
  <link rel="stylesheet" href="/assets/FrontOffice/plugins/slick/slick-theme.css">

  <link rel="stylesheet" href="/assets/FrontOffice/plugins/select2/css/select2.min.css">

  <link rel="stylesheet" href="/assets/FrontOffice/plugins/aos/aos.css">

  <link rel="stylesheet" href="/assets/FrontOffice/css/style.css">
</head>
<body>
<div class="main-wrapper log-wrap"   >
  <div class="row">
    <div class="col-md-6 login-bg">
      <div>

        <div class="welcome-login">
          <div class="login-banner">
            <img src="/assets/FrontOffice/img/login-img.png" class="img-fluid" alt="Logo">
          </div>
          <div class="mentor-course text-center">
            <h2>Welcome to <br>EduHub ESPRIT</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6 login-wrap-bg" >
      <div class="login-wrapper">
        <div class="loginbox">
          <div class="w-100">
            <div class="img-logo">
              <img src="/assets/FrontOffice/img/logo15.png" class="img-fluid" alt="Logo">
              <div class="back-home">
                <a href="index.html">Back to Home</a>
              </div>
            </div>
            <h1>Forgot Password ?</h1>
            <div class="reset-password">
              <p>Enter your email to reset your password.</p>
            </div>
            <form  (ngSubmit)="resetPassword()">

              <div class="input-block">

                <label for="newpassword"> New Password</label>
                <div class="pass-group">
                  <input type="password" id="newpassword" name="password"
                         class="form-control pass-input" placeholder="Enter your password"
                         required [(ngModel)]="resetPwdRequest.newPassword">
                  <span class="feather-eye toggle-password"></span>
                </div>
              </div>

              <div class="input-block">

                <label for="confirmpassword"> Confirm New Password</label>
                <div class="pass-group">
                  <input type="password" id="confirmpassword" name="password"
                         class="form-control pass-input" placeholder="Enter your password"
                         required [(ngModel)]="resetPwdRequest.confirmPassword">
                  <span class="feather-eye toggle-password"></span>
                </div>
              </div>
              <div class="d-grid">
                <button class="btn btn-start" type="submit">Submit</button>
              </div>
            </form>
            <div class="success-message-panel" *ngIf="message">
              <div class="success-icon">&#10004;</div>
              <div class="success-message">{{message}}</div>
            </div>
            <div class="success-message-panel" *ngIf="error">
              <div class="error-icon">&#10008;</div>
              <div class="error-message">{{ error }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>




</div>

<script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script src="../../../../assets/FrontOffice/js/jquery-3.7.1.min.js" type="18ff9ee43dff0a85569f8a89-text/javascript"></script>

<script src="assets/FrontOffice/js/bootstrap.bundle.min.js" type="18ff9ee43dff0a85569f8a89-text/javascript"></script>

<script src="/assets/FrontOffice/js/jquery.waypoints.js" type="18ff9ee43dff0a85569f8a89-text/javascript"></script>
<script src="/assets/FrontOffice/js/jquery.counterup.min.js" type="18ff9ee43dff0a85569f8a89-text/javascript"></script>

<script src="/assets/FrontOffice/plugins/select2/js/select2.min.js" type="18ff9ee43dff0a85569f8a89-text/javascript"></script>

<script src="/assets/FrontOffice/js/owl.carousel.min.js" type="18ff9ee43dff0a85569f8a89-text/javascript"></script>

<script src="/assets/FrontOffice/plugins/slick/slick.js" type="18ff9ee43dff0a85569f8a89-text/javascript"></script>

<script src="/assets/FrontOffice/plugins/aos/aos.js" type="18ff9ee43dff0a85569f8a89-text/javascript"></script>

<script src="/assets/FrontOffice/js/script.js" type="18ff9ee43dff0a85569f8a89-text/javascript"></script>
<script src="/cdn-cgi/scripts/7d0fa10a/cloudflare-static/rocket-loader.min.js" data-cf-settings="18ff9ee43dff0a85569f8a89-|49" defer></script>
</body>
</html>
