<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
  <title>EduHub</title>
  <link rel="shortcut icon" type="image/x-icon" href="/assets/FrontOffice/img/favicon.svg">

  <link rel="stylesheet" href="/assets/FrontOffice/css/bootstrap.min.css">

  <link rel="stylesheet" href="/assets/FrontOffice/plugins/fontawesome/css/fontawesome.min.css">
  <link rel="stylesheet" href="/assets/FrontOffice/plugins/fontawesome/css/all.min.css">

  <link rel="stylesheet" href="/assets/FrontOffice/css/owl.carousel.min.css">
  <link rel="stylesheet" href="/assets/FrontOffice/css/owl.theme.default.min.css">

  <link rel="stylesheet" href="/assets/FrontOffice/plugins/slick/slick.css">
  <link rel="stylesheet" href="/assets/FrontOffice/plugins/slick/slick-theme.css">

  <link rel="stylesheet" href="/assets/FrontOffice/plugins/select2/css/select2.min.css">

  <link rel="stylesheet" href="/assets/FrontOffice/plugins/aos/aos.css">

  <link rel="stylesheet" href="/assets/FrontOffice/css/style.css">
</head>
<body>

<div class="main-wrapper">
<app-header-front></app-header-front>
  <router-outlet></router-outlet>
  <app-footer-front></app-footer-front>
</div>

<script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script src="../../../assets/FrontOffice/js/jquery-3.7.1.min.js" type="18ff9ee43dff0a85569f8a89-text/javascript"></script>

<script src="assets/FrontOffice/js/bootstrap.bundle.min.js" type="18ff9ee43dff0a85569f8a89-text/javascript"></script>

<script src="/assets/FrontOffice/js/jquery.waypoints.js" type="18ff9ee43dff0a85569f8a89-text/javascript"></script>
<script src="/assets/FrontOffice/js/jquery.counterup.min.js" type="18ff9ee43dff0a85569f8a89-text/javascript"></script>

<script src="/assets/FrontOffice/plugins/select2/js/select2.min.js" type="18ff9ee43dff0a85569f8a89-text/javascript"></script>

<script src="/assets/FrontOffice/js/owl.carousel.min.js" type="18ff9ee43dff0a85569f8a89-text/javascript"></script>

<script src="/assets/FrontOffice/plugins/slick/slick.js" type="18ff9ee43dff0a85569f8a89-text/javascript"></script>

<script src="/assets/FrontOffice/plugins/aos/aos.js" type="18ff9ee43dff0a85569f8a89-text/javascript"></script>

<script src="/assets/FrontOffice/js/script.js" type="18ff9ee43dff0a85569f8a89-text/javascript"></script>
<script src="/cdn-cgi/scripts/7d0fa10a/cloudflare-static/rocket-loader.min.js" data-cf-settings="18ff9ee43dff0a85569f8a89-|49" defer></script>
</body>
</html>
