
<div class="main-wrapper log-wrap"   >
  <div class="row">
    <div class="col-md-6 login-bg">
      <div>

        <div class="welcome-login">
          <div class="login-banner">
            <img src="assets/img/login-img.png" class="img-fluid" alt="Logo">
          </div>
          <div class="mentor-course text-center">
            <h2>Welcome to <br>EduHub ESPRIT</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6 login-wrap-bg" *ngIf="!authResponse.mfaEnabled">
      <div class="login-wrapper">
        <div class="loginbox">
          <div class="w-100">
            <div class="img-logo">
              <img src="assets/img/logo15.png" class="img-fluid" alt="Logo">
              <div class="back-home">
                <a href="index.html">Back to Home</a>
              </div>
            </div>
            <h1>Sign into Your Account</h1>

  <form (ngSubmit)="authenticate()">
    <div class="input-block">
      <label for="username" class="form-control-label">Email</label>
      <input type="text" id="username" name="username"  class="form-control" placeholder="Enter your email address" required [(ngModel)]="authRequest.email">
    </div>
    <div class="input-block">

      <label for="password">Password</label>
      <div class="pass-group">
      <input type="password" id="password" name="password" class="form-control pass-input" placeholder="Enter your password" required [(ngModel)]="authRequest.password">
        <span class="feather-eye toggle-password"></span>
      </div>
    </div>
    <div class="forgot">
    <span><a class="forgot-link" href="forgot-password.html">Forgot Password ?</a></span>
          </div>
    <div class="d-grid">
    <button  class="btn btn-primary btn-start"  type="submit">Sign In</button>

    </div>
    <div class="success-message-panel" *ngIf="error">
      <div class="error-icon">&#10008;</div>
      <div class="error-message">{{ error }}</div>
    </div>
    <a routerLink="/register" style="text-decoration: none; color: #007bff; font-weight: bold;">Register</a>

  </form>
          </div>
        </div>
        <div class="google-bg text-center">
          <span><a href="#">Or sign in with</a></span>
          <div class="sign-google">
            <ul>
              <li><a href="#"><img src="assets/img/net-icon-01.png" class="img-fluid" alt="Logo"> Sign In using Google</a></li>
              <li><a href="#"><img src="assets/img/net-icon-02.png" class="img-fluid" alt="Logo">Sign In using Facebook</a></li>
            </ul>
          </div>

          <p class="mb-0">New User ? <a routerLink="/register">Create an Account</a></p>
        </div>
      </div>
    </div>
    <div class="col-md-6 login-wrap-bg" *ngIf="authResponse.mfaEnabled">
      <h2>Two-Factor Authentication</h2>
      <div class="form-group">
        <label for="validationCode">Enter 6 digits Validation Code Generated by the app</label>
        <input
          type="text"
          id="validationCode"
          name="validationCode"
          required
          [(ngModel)]="otpCode"
        >
      </div>
      <button type="button" (click)="verifyCode()"
              [class.button-disabled]="otpCode.length < 6"
      >Verify code</button>
    </div>

  </div>


</div>
