<div class="main-wrapper log-wrap"   >
  <div class="row">

    <div class="col-md-6 login-bg">
      <div>

        <div class="welcome-login">
          <div class="login-banner">
            <img src="assets/img/login-img.png" class="img-fluid" alt="Logo">
          </div>
          <div class="mentor-course text-center">
            <h2>Welcome to <br>EduHub ESPRIT</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6 login-wrap-bg" *ngIf="!authResponse.mfaEnabled">


      <div class="login-wrapper">
        <div class="loginbox">
          <div class="w-100">
            <div class="img-logo">
              <img src="assets/img/logo15.png" class="img-fluid" alt="Logo">
              <div class="back-home">
                <a href="index.html">Back to Home</a>
              </div>
            </div>
            <h1>Sign up</h1>
  <form (ngSubmit)="registerUser()">
    <div class="input-block">

      <label for="firstname" class="form-control-label">First name</label>
      <input
        id="firstname"
        name="firstname"
        required type="text"
        class="form-control" placeholder="Enter your First Name"
        [(ngModel)]="registerRequest.firstName"
      >
    </div>
    <div class="input-block">
      <label for="lastname" class="form-control-label">Last name</label>
      <input
        id="lastname"
        name="lastname"
        required type="text"
        class="form-control" placeholder="Enter your Last Name"
        [(ngModel)]="registerRequest.lastName"
      >
    </div>
    <div class="input-block">
      <label for="email" class="form-control-label">Email</label>
      <input
        id="email"
        name="email"
        required type="text"
        class="form-control" placeholder="Enter your Email"
        [(ngModel)]="registerRequest.email"
      >
    </div>
    <div class="input-block">
      <label for="birthdate" class="form-control-label">Date of Birth</label>
      <input
        id="birthdate"
        name="birthdate"
        required
        type="date"
      class="form-control"
      placeholder="Select your Date of Birth"
     [(ngModel)]="registerRequest.birthDate"
      >
    </div>
    <div class="input-block">
      <label for="classtype" class="form-control-label">classtype</label>
      <select
        id="classtype"
        name="classtype"
        required
        class="form-control"
        [(ngModel)]="registerRequest.classType"
      >
      <option value="" disabled selected>Select your classe type</option>
      <option value="FIRSTYEAR">FIRSTYEAR</option>
      <option value="FIRSTYEAR">SECONDYEAR</option>
      <option value="FIRSTYEAR">THIRDYEAR</option>

      </select>
    </div>



    <div class="input-block">
      <label for="password" class="form-control-label">Password</label>
      <div class="pass-group" id="passwordInput">
      <input
        id="password"
        name="password"
        required type="password"
        class="form-control pass-input" placeholder="Enter your password"
        [(ngModel)]="registerRequest.password"
      >
        <span class="toggle-password feather-eye"></span>
        <span class="pass-checked"><i class="feather-check"></i></span>
      </div>
      <div class="password-strength" id="passwordStrength">
        <span id="poor"></span>
        <span id="weak"></span>
        <span id="strong"></span>
        <span id="heavy"></span>
      </div>
      <div id="passwordInfo"></div>
    </div>
    <div class="input-block">
      <input
        id="rememberMe"
        name="rememberMe"
        type="checkbox"
        [(ngModel)]="registerRequest.mfaEnabled"
      >
      <label for="rememberMe">Enable 2FA (Two Factors Authentication)</label>
    </div>
    <button  class="btn btn-primary btn-start" type="submit">Register</button>
    <div class="success-message-panel" *ngIf="message">
      <div class="success-icon">&#10004;</div>
      <div class="success-message">{{message}}</div>
    </div>
    <div class="success-message-panel" *ngIf="error">
      <div class="error-icon">&#10008;</div>
      <div class="error-message">{{ error }}</div>
    </div>
  </form>
</div>

        </div>

      <div class="google-bg text-center">
        <span><a href="#">Or sign in with</a></span>
        <div class="sign-google">
          <ul>
            <li><a href="#"><img src="assets/img/net-icon-01.png" class="img-fluid" alt="Logo"> Sign In using Google</a></li>
            <li><a href="#"><img src="assets/img/net-icon-02.png" class="img-fluid" alt="Logo">Sign In using Facebook</a></li>
          </ul>
        </div>
        <p class="mb-0">Already have an account? <a routerLink="/login">Sign in</a></p>
      </div>
    </div>
    </div>

  </div>
  <div class="col-md-6 login-wrap-bg"  *ngIf="authResponse.mfaEnabled">
  <div class="success-message-panel" *ngIf="message">
    <div class="success-icon">&#10004;</div>
    <div class="success-message">{{message}}</div>
  </div>
    <div class="login-wrapper">
      <div class="loginbox">
        <div class="w-100">
          <div class="img-logo">
            <img src="assets/img/logo15.png" class="img-fluid" alt="Logo">

          </div>
  <h2>Set Up Two-Factor Authentication</h2>
  <div class="qr-code">
    <img [src]="authResponse.secretImageUri" alt="QR Code">
  </div>
  <div class="form-group">
    <label for="validationCode">Enter 6 digits Validation Code Generated by the app</label>
    <input
      type="text"
      id="validationCode"
      name="validationCode"
      required
[(ngModel)]="otpCode"
    >
  </div>
  <button
    type="button"
 (click)="verifyTfa()"
 [class.button-disabled]="otpCode.length<6"
    class="btn btn-primary btn-start"
  >Verify code</button>
</div>
</div>
    </div>

  </div>

</div>
