<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Box with Shadow</title>
  <style>


  </style>
</head>
<body>
<div class="box">
  <div class="box-content">
    <div class="col-md-5 login-bg">
      <div>
        <div class="login-banner">
          <img src="../../../../assets/FrontOffice/img/login-img.png" class="img-fluid" alt="Logo">
        </div>
        <div class="mentor-course text-center">
          <h2>Welcome to <br>EduHub ESPRIT</h2>
          <p>esprit not the best</p>
        </div>

      </div>
    </div>
  </div>

  <div class="form-container">

    <div class=" " *ngIf="!authResponse.mfaEnabled">

      <div class="login-wrapper">
        <div class="loginbox">
          <div >
            <div class="img-logo">

              <div class="back-home">
                <h1>Sign up</h1>
              </div>
              <img src="../../../../assets/FrontOffice/img/logo15.png" class="img-fluid" alt="Logo">

            </div>

            <mat-horizontal-stepper [linear]="true" #stepper>
              <!-- Step 1: First Name, Last Name, Class Type, Birthdate -->
              <mat-step [stepControl]="stepOneForm">
                <ng-template matStepLabel>Step 1:Personal informations</ng-template>




                <form [formGroup]="stepOneForm" class="step-form">
                  <div class="input-row">
                    <div class="input-block">
                      <mat-form-field  class="custom-input-width">
                        <mat-label>First Name</mat-label>
                        <input type="text" matInput  [errorStateMatcher]="matcher" formControlName="firstName"
                               [(ngModel)]="registerRequest.firstName"     placeholder="Enter your First Name">
                        <mat-hint>Errors appear instantly!</mat-hint>

                        <mat-error *ngIf="stepOneForm.controls['firstName'].hasError('required')">
                          First Name <strong>required</strong>
                        </mat-error>


                      </mat-form-field>

                    </div>
                    <div class="input-block">
                      <mat-form-field class="custom-input-width">
                        <mat-label>Last Name</mat-label>
                        <input type="text" matInput  [errorStateMatcher]="matcher"
                               [(ngModel)]="registerRequest.lastName" formControlName="lastName"
                               placeholder="Enter your Last Name">
                        <mat-hint>Errors appear instantly!</mat-hint>

                        <mat-error *ngIf="stepOneForm.controls['lastName'].hasError('required')">
                          First Name <strong>required</strong>
                        </mat-error>


                      </mat-form-field>

                    </div>
                  </div>
                  <div class="input-row">
                    <div class="input-block">
                      <mat-form-field class="custom-input-width">
                        <mat-label>class year</mat-label>
                        <mat-select formControlName="classType" id="classtype"
                                    [errorStateMatcher]="matcher"
                                    [(ngModel)]="registerRequest.classType" placeholder="Select your class type">
                          <mat-option value="FIRSTYEAR">First Year</mat-option>
                          <mat-option value="SECONDYEAR">Second Year</mat-option>
                          <mat-option value="THIRDYEAR">Third Year</mat-option>
                        </mat-select>
                        <mat-error *ngIf="stepOneForm.controls['classType'].hasError('required')">
                          class year <strong>required</strong>
                        </mat-error>

                      </mat-form-field>
                    </div>

                    <div class="input-block">
                      <mat-form-field class="custom-input-width">
                        <mat-label>BirthDate</mat-label>

                        <input formControlName="birthDate" id="birthdate"  matInput  type="date"
                               placeholder="Select your Date of Birth"
                               [(ngModel)]="registerRequest.birthDate"
                               [errorStateMatcher]="matcher"
                        >
                        <mat-error *ngIf="stepOneForm.controls['birthDate'].hasError('required')">
                          birthdate year <strong>required</strong>
                        </mat-error>

                      </mat-form-field>
                    </div>
                  </div>
                  <button mat-button matStepperNext>Next</button>
                </form>
              </mat-step>

              <!-- Step 2: Email -->
              <mat-step [stepControl]="stepTwoForm">
                <ng-template matStepLabel>Step 2:Email</ng-template>
                <form [formGroup]="stepTwoForm">

                  <div class="input-block">


                    <mat-form-field class="custom-input-width">
                      <mat-label>Email</mat-label>
                      <input type="email" matInput  [errorStateMatcher]="matcher" formControlName="email"
                             [(ngModel)]="registerRequest.email"    placeholder="Ex. pat@example.com">
                      <mat-hint>Errors appear instantly!</mat-hint>

                      <mat-error *ngIf="stepTwoForm.controls['email'].hasError('email') && !stepTwoForm.controls['email'].hasError('required')">
                        Please enter a valid email address
                      </mat-error>

                      <mat-error *ngIf="stepTwoForm.controls['email'].hasError('required')">
                        Email is <strong>required</strong>
                      </mat-error>
                    </mat-form-field>






                  </div>
                  <button mat-button matStepperPrevious>Back</button>
                  <button mat-button matStepperNext>Next</button>
                </form>
              </mat-step>

              <!-- Step 3: Password, MFA Enabled -->
              <mat-step [stepControl]="stepThreeForm">
                <ng-template matStepLabel>step 3:Password</ng-template>
                <form [formGroup]="stepThreeForm">
                  <div class="input-block">
                    <mat-form-field class="custom-input-width">
                      <mat-label>Password</mat-label>
                      <input type="password" matInput  [errorStateMatcher]="matcher" formControlName="password"
                             [(ngModel)]="registerRequest.password"    placeholder="enter your password">
                      <mat-hint>Errors appear instantly!</mat-hint>



                      <mat-error *ngIf="stepThreeForm.controls['password'].hasError('required')">
                        password is <strong>required</strong>
                      </mat-error>
                    </mat-form-field>



                  </div>
                  <div class="input-block">
                    <mat-slide-toggle  [(ngModel)]="registerRequest.mfaEnabled" id="mfaEnabled">Enable 2FA (Two Factors Authentication)</mat-slide-toggle>
                  </div>

                  <button mat-button matStepperPrevious>Back</button>
                  <button mat-button type="submit" (click)="registerUser()" [disabled]="stepThreeForm.invalid">Register</button>
                </form>
              </mat-step>
            </mat-horizontal-stepper>

            <div class="success-message-panel" *ngIf="message">
              <div class="input-block" *ngIf="message === 'wait we are sending a verif email'">
                <mat-progress-spinner diameter="32" mode="indeterminate"></mat-progress-spinner>
              </div>
              <mat-spinner></mat-spinner>
              <div class="success-message">{{ message }}</div>
            </div>
            <div class="error-message-panel" *ngIf="error">
              <div class="error-icon">&#10008;</div>
              <div class="error-message">{{ error }}</div>
            </div>

          </div>
          <div class="google-bg text-center">
            <span><a href="#">Or sign in with</a></span>
            <div class="sign-google">
              <ul>
                <li><a href="#"><img src="../../../../assets/FrontOffice/img/net-icon-01.png" class="img-fluid" alt="Logo"> Sign In using Google</a></li>
                <li><a href="#"><img src="../../../../assets/FrontOffice/img/net-icon-02.png" class="img-fluid" alt="Logo">Sign In using Facebook</a></li>
              </ul>
            </div>
            <p class="mb-0">Already have an account? <a routerLink="/login">Sign in</a></p>
          </div>
        </div>


      </div>
    </div>
    <div  *ngIf="authResponse.mfaEnabled">
      <div class="success-message-panel" *ngIf="message">
        <div class="success-icon">&#10004;</div>
        <div class="success-message">{{message}}</div>
      </div>
      <div class="login-wrapper">
        <div class="loginbox">
          <div class="w-100">
            <div class="img-logo">
              <img src="../../../../assets/FrontOffice/img/logo15.png" class="img-fluid" alt="Logo">

            </div>
            <h2>Set Up Two-Factor Authentication</h2>
            <div class="qr-code">
              <img [src]="authResponse.secretImageUri" alt="QR Code">
            </div>
            <div class="form-group">
              <label for="validationCode">Enter 6 digits Validation Code Generated by the app</label>
              <input
                type="text"
                id="validationCode"
                name="validationCode"
                required
                [(ngModel)]="otpCode"
              >
            </div>
            <button
              type="button"
              (click)="verifyTfa()"
              [class.button-disabled]="otpCode.length<6"
              class="btn btn-primary btn-start"
            >Verify code</button>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>
</body>
</html>
