<section class="page-content course-sec">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-12">
        <div class="add-course-header">
          <h2>Add New Book</h2>
          <div class="add-course-btns">
            <ul class="nav">
              <li>
                <a routerLink="/user/userBooks" class="btn btn-black">Back to My books</a>
              </li>

            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="card">

          <div class="widget-set">
            <div class="widget-setcount">

            </div>
            <div class="widget-content multistep-form">
              <fieldset id="first">
                <div class="add-course-info">
                  <div class="add-course-inner-header">
                    <h4>Book Informations</h4>
                  </div>
                  <div class="add-course-form">
                    <form [formGroup]="bookForm" (ngSubmit)="onSubmit()">
                      <div class="input-block">
                        <label class="add-course-label">Title</label>
                        <input type="text" class="form-control" placeholder="Book title" id="title" formControlName="title">
                      </div>
                      <div class="input-block">
                        <label class="add-course-label">Author</label>
                        <input type="text" class="form-control" placeholder="Book author name" id="author" formControlName="author">
                      </div>
                      <div class="input-block">
                        <label class="add-course-label">Description</label>
                        <textarea type="text" class="form-control" placeholder="Book Description" id="description" formControlName="description"></textarea>
                      </div>
                      <div class="input-block">
                        <label class="add-course-label">Category</label>
                        <select class="form-control select" id="category" formControlName="category" required >
                          <option *ngFor="let category of categories" [value]="category.idCategory">{{ category.name }}</option>
                        </select>
                      </div>
                      <div class="input-block">
                        <label class="add-course-label" for="picture">Choose book cover image</label>
                        <input type="file" class="form-control" id="picture" (change)="onFileSelected($event)"
                               formControlName="picture">
                      </div>
                      <div class="widget-btn">
                        <button type="submit" class="btn btn-info-light next_btn">Save</button>
                      </div>
                    </form>
                  </div>

                </div>
              </fieldset>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>

