<section class="page-content course-sec">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
            <div class="widget-content multistep-form">
               <fieldset id="first" name="first">
                  <div class="add-course-info">
                    <br/>
                    <div class="add-course-inner-header">
                      <h4>Specify Your Car</h4>
                    </div>
                    <div class="add-course-form">
                      <form [formGroup]="this.crudApi.dataForm" (ngSubmit)="onSubmit()">

                        <div class="input-block">
                          <label class="add-course-label">Manufacturer</label>
                          <input type="text" formControlName="manufacturer" id="manufacturer" class="form-control" placeholder="Manufacturer">
                          <div class="error" *ngIf="this.crudApi.dataForm.get('manufacturer')?.invalid && (this.crudApi.dataForm.get('manufacturer')?.dirty || this.crudApi.dataForm.get('manufacturer')?.touched)">
                            manufacturer in not valid
                            <div *ngIf="this.crudApi.dataForm.get('manufacturer')?.hasError('minlength')"> min length is 3 characters </div>
                          </div>
                        </div>

                        <div class="input-block">
                          <label class="add-course-label">Car Model</label>
                          <input type="text" formControlName="model" id="model" class="form-control" placeholder="Available places">
                          <div class="error" *ngIf="this.crudApi.dataForm.get('model')?.invalid && (this.crudApi.dataForm.get('model')?.dirty || this.crudApi.dataForm.get('model')?.touched)">
                            model in not valid
                            <div *ngIf="this.crudApi.dataForm.get('model')?.hasError('minlength')"> min length is 3 characters </div>
                          </div>
                        </div>

                        <div class="input-block">
                          <label class="add-course-label">Car Year</label>
                          <input type="month"  formControlName="year" id="year"  class="form-control " placeholder="Available places">
                          <div class="error" *ngIf="this.crudApi.dataForm.get('year')?.invalid && (this.crudApi.dataForm.get('year')?.dirty || this.crudApi.dataForm.get('year')?.touched)">
                            year in not valid
                          </div>
                        </div>

                        <div class="input-block">
                          <label class="add-course-label">Capacity</label>
                          <input type="number" formControlName="capacity" id="capacity" class="form-control" placeholder="Available places" value="10:05 AM">
                          <div class="error" class="error" *ngIf="this.crudApi.dataForm.get('capacity')?.invalid && (this.crudApi.dataForm.get('capacity')?.dirty || this.crudApi.dataForm.get('capacity')?.touched)">
                            capacity in not valid
                            <div *ngIf="this.crudApi.dataForm.get('capacity')?.hasError('min') || this.crudApi.dataForm.get('capacity')?.hasError('max')"> capacity must be between 1 and 7 </div>
                          </div>
                        </div>

                        <div class="input-block">
                          <label class="add-course-label">Registration number</label>
                          <input type="text" formControlName="registrationNumber" id="registrationNumber" class="form-control" placeholder="Registration number" value="10:05 AM">
                          <div *ngIf="this.crudApi.dataForm.get('registration_number')?.invalid && (this.crudApi.dataForm.get('registration_number')?.dirty || this.crudApi.dataForm.get('registration_number')?.touched)">
                            registration number in not valid
                            <div *ngIf="this.crudApi.dataForm.get('registration_number')?.hasError('minLength')"> min length is 3 characters </div>
                          </div>
                        </div>

                        <div class="widget-btn">
                          <button class="btn btn-info-light btn-block" *ngIf="this.crudApi.choixmenu=='A'" type="submit" [disabled]="this.crudApi.dataForm.invalid">Add Car</button>
                          <button class="btn btn-info-light btn-block" *ngIf="this.crudApi.choixmenu=='M'" type="submit" [disabled]="this.crudApi.dataForm.invalid">Modify Car</button>
                        </div>
                      </form>
                    </div>

                  </div>
                </fieldset>
            </div></div></div></div></div></section>
