
<div class="h-100 px-3" >
<app-error [errorMessage]="error"></app-error>
<div class="d-flex justify-content-between align-items-center mb-3">
<h5 class="pb-1 mb-0">Courses</h5>
<a
href="javascript:void(0)" (click)="navigateToAddCourseBackOffice()" 
class="btn btn-danger btn-buy-now"
>Add course</a
>
</div>
<div class="row mb-5 grid-gap ">
  <div class="col-md col-class col-md-4"   *ngFor="let course of courses"  (click)="navigateToCourseDetailsBackOffice(course.id)">
    <div class="card mb-3" style="position: relative;">
      <div class="row g-0">
        <div class="col-md-4" style="height: 170px">
          <img class="card-img card-img-left h-100" [src]="course.imageUrl" alt="Course Image" />
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">{{ course.name }}</h5>
            <p class="card-text">
            {{course.description.substring(0,25)}}  
            </p>
            <p class="card-text"><small class="text-muted badge-special" style="position: absolute; bottom:25px;right: 10px;">{{ course.courseCategory||"WEB" }}</small></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>