.content-item {

    background-color: #ffffff; /* Set background color */
    padding: 20px; /* Add padding for spacing */
    margin-bottom: 20px; /* Add margin-bottom for spacing between content items */
    border-radius: 8px; /* Add border radius for rounded corners */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Add box shadow */
}

.file-item {
    margin-top: 10px; /* Add margin-top for spacing between files */
}

.file-list {
    list-style: none; /* Remove default list styles */
    padding-left: 0; /* Remove left padding from list */
}

.file-list li {
    margin-bottom: 10px; /* Add margin-bottom for spacing between lectures */
}

.icon {
    width: 20px; /* Set icon width */
    height: 20px; /* Set icon height */
    margin-right: 10px; /* Add margin between icon and lecture title */
}

.preview-link {
    margin-right: 10px; /* Add margin between preview link and duration */
}
.pdf-link {
    color: #007bff; /* Set link color */
    text-decoration: none; /* Remove default underline */
    cursor: pointer; /* Change cursor to pointer on hover */
    transition: color 0.3s ease; /* Add smooth color transition */
}

.pdf-link:hover {
    color: #0056b3; /* Change link color on hover */
}
.card-item{
    transform: translateY(-5px);
    transition: transform 0.3s ease;
    cursor: pointer; 
}
.rating-link-container{
    /* width: 50px; */
    display: flex;
    flex-direction: row-reverse;
}
.rating-link{
    /* font-size: 2rem; */
    /* width: 50px; */
    cursor: pointer;
}
.chapter-details-container{
    padding-top: 3rem;
    padding-left: 3rem;
}
.chapter-details-title{
    color: rgb(254, 111, 59);
}
.chapter-details-desc{
    font-size: 1.2rem;

}

.tooltipSp {
    display: none; /* Initially hidden */
    position: absolute;
    background-color: #f9f9f9;
    border: 1px solid black;
    padding: 10px;
    color: black;
    border-radius: 5px;
    z-index: 1;
    
   
}

/* Style for the element to trigger the hover */
.hover-element {
    position: relative;
    cursor: pointer;
    transition: all 0.3s ease; 
}
.hover-element:hover{
    transform: scale(1.2);
}

/* Show the tooltip when hovering */
.hover-element:hover span.tooltipSp {
    display: block; /* Show when hovering */
    top: -1rem;
    left: 1rem;
}