<div class="overlay" (click)="setDisplayRatings()"  >
<div class="overlay-content"> 
    <div class="blog-content blog-read mb-3 text-end">

        <a href="javascript:void(0)" (click)="navigateToAddRatingToCourse()" class="read-more btn btn-primary">rate >></a>
    </div>
<div class="rating-item" *ngFor="let rating of ratings" >
    <div class="rating-card">
      <div class="content">
        <!-- Content of the rating item -->
        <span class="user-info-container">
            <img src="assets/FrontOffice/img/user.png" class="user-icon" alt="user-icon"/>
            <span class="user-name"> {{rating.owner.email}}</span>
        </span>
        <p class="rating-content">{{ rating.content }}</p>
        <div class="border-sp"></div>
      </div>
    </div>
    <div class="stars">
      <!-- Display existing stars -->
    <app-rating [readonly]="true" [initialRate]="rating.value"></app-rating>  
    </div>
  </div>
</div>
</div>