<div >
  <div   >
    <div class="row"  style="margin-left: 20px;margin-bottom: 20px" >
      <div class="col-md-4 d-flex" style="margin-top: 30px" >
        <div class="card instructor-card w-100">
          <div class="card-body">
            <div class="instructor-inner">
              <h6>Average of carpooled by motorized</h6>
              <h4 class="instructor-text-success"  style="color: cornflowerblue ">
                <strong>
                  {{  3.5}}
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-vcard" viewBox="0 0 16 16">
                    <path d="M5 8a2 2 0 1 0 0-4 2 2 0 0 0 0 4m4-2.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5M9 8a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4A.5.5 0 0 1 9 8m1 2.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5"/>
                    <path d="M2 2a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2zM1 4a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H8.96q.04-.245.04-.5C9 10.567 7.21 9 5 9c-2.086 0-3.8 1.398-3.984 3.181A1 1 0 0 1 1 12z"/>
                  </svg>
                </strong></h4>
              <p>Total</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 d-flex" style="margin-top: 30px">
        <div class="card instructor-card w-100" >
          <div class="card-body">
            <div class="instructor-inner">
              <h6>NUMBER EVENTS </h6>
              <h4 class="instructor-text-info" style="color: green ">  <strong>
                {{ 5 }}
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-people-fill" viewBox="0 0 16 16">
                  <path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6m-5.784 6A2.24 2.24 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.3 6.3 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1zM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5"/>
                </svg>
              </strong></h4>
              <p>New this year</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 d-flex" style="margin-top: 30px">
        <div class="card instructor-card w-100">
          <div class="card-body">
            <div class="instructor-inner">
              <h6>Average OF PARTICIPATES</h6>
              <h4 class="instructor-text-warning"  style="color:orange">
                <strong>
                  {{60}}
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-ban" viewBox="0 0 16 16">
                    <path d="M15 8a6.97 6.97 0 0 0-1.71-4.584l-9.874 9.875A7 7 0 0 0 15 8M2.71 12.584l9.874-9.875a7 7 0 0 0-9.874 9.874ZM16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0"/>
                  </svg>
                </strong></h4>
              <p>Total</p>
            </div>
          </div>
        </div>
      </div>
    </div>



  </div>


</div>



<div class="row" style="margin-left: 20px; margin-bottom: 20px;">
  <!-- First Chart -->
  <div class="col-md-6 d-flex" style="margin-bottom: 10px;">
    <div class="card instructor-card w-100">
      <div class="card-body">
        <div class="instructor-inner">
          <h6>NUMBER OF EVENT PER MONTH</h6>
          <div style="max-width: 500px; max-height: 250px;">
            <canvas baseChart
                    [datasets]="barChartDataUsersByLocation"
                    [labels]="barChartLabelsUsersByLocation"
                    [options]="barChartOptions"
                    [legend]="barChartLegendJourneyByMonth"
                    [chartType]="'line'"
                    [colors]="JourneycountColor">
            </canvas>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Second Chart -->
  <div class="col-md-6 d-flex" style="margin-bottom: 10px;">
    <div class="card instructor-card w-100">
      <div class="card-body">
        <div class="instructor-inner">
          <h6>NUMBER of MOST PARTICIPATED USER IN AN EVENT</h6>
          <div style="max-width: 500px; max-height: 300px;">
            <canvas class="pie-chart" baseChart
                    [data]="pieChartpartData"
                    [labels]="pieChartpartLabels"
                    [chartType]="pieChartpartType"
                    [colors]="pieChartColors">
            </canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row"  style="margin-left: 20px;margin-bottom: 20px" >
  <div class="col-md-6 d-flex"  style="margin-bottom: 10px">
    <div class="card instructor-card w-100" >
      <div class="card-body">
        <div class="instructor-inner">
          <h6>NUMBER OF EVENT PER MONTH</h6>
          <div style="
max-width: 500px;
max-height: 300px;;
">
            <canvas class="pie-chart"  baseChart
                    [data]="pieChartData"
                    [labels]="pieChartLabels"
                    [chartType]="pieChartType"
                    [colors]="pieChartColors"
            >
            </canvas>
          </div>
        </div>  </div>  </div>  </div>
  <div class="col-md-6 d-flex" style="margin-bottom: 10px" >

  </div>



</div>

