/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "../node_modules/angular-calendar/css/angular-calendar.css";
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";



/* You can add global styles to this file, and also import other style files */
input.ng-invalid.ng-invalid.ng-touched{
    border:red 2px solid;

}

/* small{
    display: none;
} */

small{
color: red;
font-weight: bold;
/* display: block; */
}

.back-link{
    cursor: pointer
    ;
}

.back-link:hover{
    color:#696cff;
}

.badge-special{
    border: gray solid 1px ;
    padding: 3px 4px;
    border-radius: 5px;
}

.badge-special:hover{
background-color:#ff3e1d ;
color: #fff !important;
}

.containerSp{
    margin-top: 3rem;
}

 .header-border +.containerSp {
    border-bottom: none;
}

ngb-rating{
    color: #FFC107 !important;
    font-size: 3.5rem;
}
ngb-rating.d-inline-flex  span{
    color: #FFC107 !important;
    font-size: 1.8rem;
}
.d-flex span.visually-hidden{
    color: #FFC107;
    font-size: 1.8rem;
}

.input-block > .multiline-input.form-control   {
    height: auto;
    display: flex;
    min-height: 100px; /* Adjust as needed */
    align-items: start;

}
