<div class="modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" (click)="onClose()">&times;</button>
        </div>
        <div class="modal-body">
          
            <p><strong>Title:</strong> {{ annonce.title }}</p>
            <p><strong>Description:</strong> {{ annonce.annonce_description }}</p>
            <p><strong>Post Type:</strong> {{ annonce.typeAnnonce}}</p>

            <div *ngIf="comments && comments.length > 0">
              <h4>Comments:</h4>
              <ul>
                  <li *ngFor="let comment of annonce.comments">
                      {{ comment.comment_description }} - {{ comment.comment_date}}
                  </li>
              </ul>
          </div>
          <div *ngIf="!comments || comments.length === 0">
              <p>No comments available.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
