

<header class="header header-page">
  <div class="header-fixed">
    <nav class="navbar navbar-expand-lg header-nav scroll-sticky">
      <div class="container">
        <div class="navbar-header">
          <a id="mobile_btn" href="javascript:void(0);">

          </a>
          <a  class="navbar-brand logo" style="margin-top: -40px;">
            <img src="/assets/FrontOffice/img/logo15.png" class="img-fluid" alt="Logo" >
          </a>
        </div>
        <div class="main-menu-wrapper"    *ngIf="isLoggedIn()">
          <div class="menu-header">
            <a  class="menu-logo">
              <img src="/assets/FrontOffice/img/logo.svg" class="img-fluid" alt="Logo">
            </a>
            <a id="menu_close" class="menu-close" href="javascript:void(0);">
              <i class="fas fa-times"></i>
            </a>
          </div>
          <ul class="main-nav"   style="margin-top: -40px;">
            <li class="has-submenu">
              <a routerLink="/user/welcome">Home</a>

            </li>

            <li class="has-submenu active">
              <a href>Carpooling <i class="fas fa-chevron-down"></i></a>
              <ul class="submenu first-submenu">
                <li class="has-submenu ">
                  <a href="students-list.html">Journeys</a>
                  <ul class="submenu">
                    <li><a href="/home/add_journey">Add Journey</a></li>
                    <li><a href="/home/list_journey">List of Journeys</a></li>
                  </ul>
                </li>
                <li  class="has-submenu">
                  <a href="setting-edit-profile.html">Motorized</a>
                  <ul class="submenu">
                    <li><a href="/home/add_car">Add Car</a></li>
                    <li><a href="/home/cars">List Car</a></li>

                  </ul>
                </li>
                <li><a href="/home/location">Location</a></li>
              </ul>
            </li>

            <li class="has-submenu">
              <a href="/home/courses">Courses </a>
            </li>
            <li class="has-submenu">
              <a routerLink="/home/event">Events <i class="fas fa-chevron-down"></i></a>
              <ul class="submenu first-submenu">
                <li class="has-submenu ">
                <li><a [routerLink]="'/home/calendar'">Calendar</a></li>
              </ul>
            </li>
            <li class="has-submenu">
              <a href>Library <i class="fas fa-chevron-down"></i></a>
              <ul class="submenu">
                <li><a routerLink="/home/books" >All Books</a></li>
                <li><a routerLink="/home/userBooks">My Books</a></li>
                <li><a routerLink="/home/borrows">My Books Borrow</a></li>
                <li><a routerLink="/home/addbook">Add a Book</a></li>
              </ul>
            </li>
            <li class="has-submenu">
              <a href>Posts<i class="fas fa-chevron-down"></i></a>
              <ul class="submenu">
                <li><a routerLink="/home/get-annonce" >All Posts</a></li>
                <li><a routerLink="/home/get-annonceUser/:userId">My Posts</a></li>
                <li><a routerLink="/home/add-annonce">Add a Post</a></li>
              </ul>
            </li>

          </ul>
        </div>
        <div *ngIf="isLoggedIn()" class="user-info-container"  style="margin-top: -40px;">
          <ul class="main-nav">
            <li class="has-submenu">
      <span class="user-img">
        {{loggedUser.firstName}}
        <img  [src]="imageUrl"  alt>
        <span class="status online" style=" position: absolute;
  top: 0;
  right: 0;
  width: 15px;
  height: 15px;
  background-color: green;
  border-radius: 50%;
  border: 2px solid white;"></span>
      </span>
              <i class="fas fa-chevron-down"></i>
              <ul class="submenu">
                <li><a routerLink="/user/profile">Profile</a></li>
                <li><a (click)="logout()"  style="color: darkred">LogOut</a></li>
              </ul>
            </li>
          </ul>
        </div>


        <div *ngIf="!isLoggedIn()" >
          <!-- Buttons for not logged-in user -->
          <ul class="nav header-navbar-rht">
            <li class="nav-item login-link">
              <a class="nav-link header-sign" routerLink="/login">Sign in</a>
            </li>
            <li class="nav-item login-link">
              <a  class="nav-link header-login" routerLink="/register">Sign up</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</header>


