

<link rel="shortcut icon" type="image/x-icon" href="/assets/FrontOffice/img/favicon.svg">
  
<link rel="stylesheet" href="/assets/FrontOffice/css/bootstrap.min.css">

<link rel="stylesheet" href="/assets/FrontOffice/plugins/fontawesome/css/fontawesome.min.css">
<link rel="stylesheet" href="/assets/FrontOffice/plugins/fontawesome/css/all.min.css">

<link rel="stylesheet" href="/assets/FrontOffice/css/owl.carousel.min.css">
<link rel="stylesheet" href="/assets/FrontOffice/css/owl.theme.default.min.css">

<link rel="stylesheet" href="/assets/FrontOffice/plugins/slick/slick.css">
<link rel="stylesheet" href="/assets/FrontOffice/plugins/slick/slick-theme.css">

<link rel="stylesheet" href="/assets/FrontOffice/plugins/select2/css/select2.min.css">

<link rel="stylesheet" href="/assets/FrontOffice/plugins/aos/aos.css">

<link rel="stylesheet" href="/assets/FrontOffice/css/style.css">
<header class="header header-page">
 
 
<div class="header-fixed">

    <nav class="navbar navbar-expand-lg header-nav scroll-sticky">
      <div class="container header">
        <div class="navbar-header">
          <a id="mobile_btn" href="javascript:void(0);">
<span class="bar-icon">
<span></span>
<span></span>
<span></span>
</span>
          </a>
          <a href="index.html" class="navbar-brand logo">
            <img src="/assets/FrontOffice/img/logo15.png" class="img-fluid" alt="Logo">
          </a>
        </div>
        <div class="main-menu-wrapper">
          <div class="menu-header">
            <a href="index.html" class="menu-logo">
              <img src="/assets/FrontOffice/img/logo.svg" class="img-fluid" alt="Logo">
            </a>
            <a id="menu_close" class="menu-close" href="javascript:void(0);">
              <i class="fas fa-times"></i>
            </a>
          </div>
          <ul class="main-nav">
            <li class="has-submenu">
              <a routerLink="/home">Home <i class="fas fa-chevron-down"></i></a>

            </li>
            <li class="has-submenu">
              <a href>Events <i class="fas fa-chevron-down"></i></a>
              <ul class="submenu">
                <li><a href="instructor-dashboard.html">Dashboard</a></li>
                <li class="has-submenu">
                  <a href="instructor-list.html">Instructor</a>
                  <ul class="submenu">
                    <li><a href="instructor-list.html">List</a></li>
                    <li><a href="instructor-grid.html">Grid</a></li>
                  </ul>
                </li>
                <li><a href="instructor-course.html">My Course</a></li>
                <li><a href="instructor-reviews.html">Reviews</a></li>
                <li><a href="instructor-earnings.html">Earnings</a></li>
                <li><a href="instructor-orders.html">Orders</a></li>
                <li><a href="instructor-payouts.html">Payouts</a></li>
                <li><a href="instructor-tickets.html">Support Ticket</a></li>
                <li><a href="instructor-edit-profile.html">Instructor Profile</a></li>
                <li><a href="instructor-security.html">Security</a></li>
                <li><a href="instructor-social-profiles.html">Social Profiles</a></li>
                <li><a href="instructor-notification.html">Notifications</a></li>
                <li><a href="instructor-profile-privacy.html">Profile Privacy</a></li>
                <li><a href="instructor-delete-profile.html">Delete Profile</a></li>
                <li><a href="instructor-linked-account.html">Linked Accounts</a></li>
              </ul>
            </li>
            <li class="has-submenu">
              <a href>Courses <i class="fas fa-chevron-down"></i></a>
              <ul class="submenu first-submenu">
                <li class="has-submenu ">
                  <a href="students-list.html">Student</a>
                  <ul class="submenu">
                    <li><a href="students-list.html">List</a></li>
                    <li><a href="students-grid.html">Grid</a></li>
                  </ul>
                </li>
                <li><a href="setting-edit-profile.html">Student Profile</a></li>
                <li><a href="setting-student-security.html">Security</a></li>
                <li><a href="setting-student-social-profile.html">Social profile</a></li>
                <li><a href="setting-student-notification.html">Notification</a></li>
                <li><a href="setting-student-privacy.html">Profile Privacy</a></li>
                <li><a href="setting-student-accounts.html">Link Accounts</a></li>
                <li><a href="setting-student-referral.html">Referal</a></li>
                <li><a href="setting-student-subscription.html">Subscribtion</a></li>
                <li><a href="setting-student-billing.html">Billing</a></li>
                <li><a href="setting-student-payment.html">Payment</a></li>
                <li><a href="setting-student-invoice.html">Invoice</a></li>
                <li><a href="setting-support-tickets.html">Support Tickets</a></li>
              </ul>
            </li>
            <li class="has-submenu active">
              <a href>Carpooling <i class="fas fa-chevron-down"></i></a>
              <ul class="submenu">
                <li><a href="notifications.html">Notification</a></li>
                <li><a href="pricing-plan.html">Pricing Plan</a></li>
                <li><a href="wishlist.html">Wishlist</a></li>
                <li class="has-submenu">
                  <a href="course-list.html">Course</a>
                  <ul class="submenu">
                    <li><a href="add-course.html">Add Course</a></li>
                    <li><a href="course-list.html">Course List</a></li>
                    <li><a href="course-grid.html">Course Grid</a></li>
                    <li><a href="course-details.html">Course Details</a></li>
                  </ul>
                </li>
                <li class="has-submenu">
                  <a href="come-soon.html">Error</a>
                  <ul class="submenu">
                    <li><a href="come-soon.html">Comeing soon</a></li>
                    <li><a href="error-404.html">404</a></li>
                    <li><a href="error-500.html">500</a></li>
                    <li><a href="under-construction.html">Under Construction</a></li>
                  </ul>
                </li>
                <li><a href="faq.html">FAQ</a></li>
                <li><a href="support.html">Support</a></li>
                <li><a href="job-category.html">Category</a></li>
                <li class="active"><a href="cart.html">Cart</a></li>
                <li><a href="checkout.html">Checkout</a></li>
                <li><a href="login.html">Login</a></li>
                <li><a href="register.html">Register</a></li>
                <li><a href="forgot-password.html">Forgot Password</a></li>
              </ul>
            </li>
            <li class="has-submenu">
              <a [routerLink]="'/get-annonce'" >Post <i class="fas fa-chevron-down"></i></a>
              <ul class="submenu">
                <li><a  [routerLink]="'/get-annonce'"> All Post</a></li>
                <li><a  [routerLink]="'/add-annonce'">Add Post</a></li>
                <li><a  [routerLink]="'/get-annonceUser/:userId'">My Posts</a></li>
               
              </ul>
            </li>
            <li class="has-submenu">
              <a href>Blog <i class="fas fa-chevron-down"></i></a>
              <ul class="submenu">
                <li><a href="blog-list.html">Blog List</a></li>
                <li><a href="blog-grid.html">Blog Grid</a></li>
                <li><a href="blog-masonry.html">Blog Masonry</a></li>
                <li><a href="blog-modern.html">Blog Modern</a></li>
                <li><a href="blog-details.html">Blog Details</a></li>
              </ul>
            </li>

          </ul>
        </div>
        <div  class="user-info-container">
          <ul class="nav header-navbar-rht">
            <li class="nav-item user-nav">
              
              <a routerLink="/profile" class="dropdown-toggle" data-bs-toggle="dropdown">
        <span class="user-img">
          <img src="assets/FrontOffice/img/user/user11.jpg" alt>
          <span class="status online"></span>
        </span>
              </a>
              <svg  xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0z"/>
                <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708z"/>
              </svg>
              <!-- Logout Button -->


            </li>
          </ul>
        </div>

       
      </div>
    </nav>
  </div>
</header>
<br>

<script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script src="../../../assets/FrontOffice/js/jquery-3.7.1.min.js" type="18ff9ee43dff0a85569f8a89-text/javascript"></script>

<script src="assets/FrontOffice/js/bootstrap.bundle.min.js" type="18ff9ee43dff0a85569f8a89-text/javascript"></script>

<script src="/assets/FrontOffice/js/jquery.waypoints.js" type="18ff9ee43dff0a85569f8a89-text/javascript"></script>
<script src="/assets/FrontOffice/js/jquery.counterup.min.js" type="18ff9ee43dff0a85569f8a89-text/javascript"></script>

<script src="/assets/FrontOffice/plugins/select2/js/select2.min.js" type="18ff9ee43dff0a85569f8a89-text/javascript"></script>

<script src="/assets/FrontOffice/js/owl.carousel.min.js" type="18ff9ee43dff0a85569f8a89-text/javascript"></script>

<script src="/assets/FrontOffice/plugins/slick/slick.js" type="18ff9ee43dff0a85569f8a89-text/javascript"></script>

<script src="/assets/FrontOffice/plugins/aos/aos.js" type="18ff9ee43dff0a85569f8a89-text/javascript"></script>

<script src="/assets/FrontOffice/js/script.js" type="18ff9ee43dff0a85569f8a89-text/javascript"></script>
<script src="/cdn-cgi/scripts/7d0fa10a/cloudflare-static/rocket-loader.min.js" data-cf-settings="18ff9ee43dff0a85569f8a89-|49" defer></script>



