
<!--HEDHII L QRCODE &#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;§§§§§§§§§§§§-->
<!--<app-qr-code></app-qr-code>-->


<!--<div *ngIf="qrCodeData">-->
<!--  <img [src]="qrCodeData" alt="QR Code">-->
<!--</div>-->


<section class="course-content" >
  <div class="container" id="main-container">
    <div class="row">
      <div class="col-lg-9 col-md-12">
        <div class="row">
          <div class="col-md-6 col-sm-12"  *ngFor="let event of items;">

            <div class="blog grid-blog">
              <div class="blog-image">
                <a href="blog-details.html"><img class="img-fluid" [src]="event.imageURL"  alt="Post Image"></a>
              </div>
              <div class="blog-grid-box">
                <div class="blog-info clearfix">
                  <div class="post-left">
                    <ul>
                      <li><img class="img-fluid" src="assets/img/icon/icon-22.svg" alt>{{ event.dateBegin | date: 'mediumDate' }}</li>
                      <li><img class="img-fluid" src="assets/img/icon/icon-23.svg" alt>{{ event.location }}</li>
                    </ul>
                  </div>
                </div>
                <h3 class="blog-title"><a href="blog-details.html">{{ event.title }}</a></h3>
                <div class="blog-content blog-read">
                  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus hendrerit. Sed egestas, ante et vulputate volutpat, eros pede […]</p>

                  <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                          data-bs-target="#modalToggle"  (click)="participate(event.idEvent)">Participate</button>

<!--                  <button type="button" class="btn btn-primary" (click)="openModal(content)">Participate</button>-->


                  <button type="button" class="btn btn-danger" (click)="cancelparticipate(event.idEvent)">annuler </button>

                  <!--                                    <img id="qrcode-image" src="..\assets\img\QRCODE.png" alt="QR Code">-->
                  <a [routerLink]="['/user/event-detail', event.idEvent]">View Details</a>


                </div>
              </div>
            </div>

          </div>

        </div>
        <!-- CSS Ticket inspired by -->
        <!-- https://dribbble.com/shots/2677752-Dribbble-invite-competition -->

        <!--        <div class="ticket">-->
        <!--          <div class="stub">-->
        <!--            <div class="top">-->
        <!--              <span class="admit">Admit</span>-->
        <!--              <span class="line"></span>-->
        <!--              <span class="num">-->
        <!--        Invitation-->
        <!--        <span>31415926</span>-->
        <!--      </span>-->
        <!--            </div>-->
        <!--            <div class="number">1</div>-->
        <!--            <div class="invite">-->
        <!--              Invite for you-->
        <!--            </div>-->
        <!--          </div>-->
        <!--          <div class="check">-->
        <!--            <div class="big">-->
        <!--              You're <br> Invited-->
        <!--            </div>-->
        <!--            <div class="number">-->
        <!--              1-->
        <!--            </div>-->
        <!--&lt;!&ndash;            <div class="number"><img id="qrcode-image" src="..\assets\img\QRCODE.png" alt="QR Code"></div>&ndash;&gt;-->
        <!--            <div class="info">-->
        <!--              <section>-->
        <!--                <div class="title">Date</div>-->
        <!--                <div>4/27/2016</div>-->
        <!--              </section>-->
        <!--              <section>-->
        <!--                <div class="title">Issued By</div>-->
        <!--                <div>Ampersand</div>-->
        <!--              </section>-->
        <!--              <section>-->
        <!--                <div class="title">Invite Number</div>-->
        <!--                <div>31415926</div>-->
        <!--              </section>-->
        <!--            </div>-->
        <!--          </div>-->
        <!--        </div>-->

        <div class="row">
          <div class="col-md-12">
            <ul class="pagination lms-page">
              <li class="page-item prev">
                <a class="page-link" href="javascript:void(0);" tabindex="-1"><i class="fas fa-angle-left"></i></a>
              </li>
              <li class="page-item first-page active">
                <a class="page-link" href="javascript:void(0);">1</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="javascript:void(0);">2</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="javascript:void(0);">3</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="javascript:void(0);">4</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="javascript:void(0);">5</a>
              </li>
              <li class="page-item next">
                <a class="page-link" href="javascript:void(0);"><i class="fas fa-angle-right"></i></a>
              </li>
            </ul>
          </div>
        </div>

      </div>

      <div class="col-lg-3 col-md-12 sidebar-right theiaStickySidebar">

        <div class="card search-widget blog-search blog-widget">
          <div class="card-body">
            <form class="search-form">
              <div class="input-group">
                <input type="text" placeholder="Search..." class="form-control">
                <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
              </div>
            </form>
          </div>
        </div>


        <div class="card post-widget blog-widget">
          <div class="card-header">
            <h4 class="card-title">Recent Posts</h4>
          </div>
          <div class="card-body" *ngFor="let event of items;">
            <ul class="latest-posts">
              <li>
                <div class="post-thumb">
                  <a href="blog-details.html">
                    <img class="img-fluid" src="assets/img/blog/blog-01.jpg" alt>
                  </a>
                </div>
                <div class="post-info">
                  <h4>
                    <a href="blog-details.html">{{ event.title }}</a>
                  </h4>
                  <p><img class="img-fluid" src="assets/img/icon/icon-22.svg" alt>{{ event.dateBegin | date: 'mediumDate' }}</p>
                </div>
              </li>

            </ul>
          </div>
        </div>

      </div>

    </div>

  </div>
</section>
<!-- Modal -->


<!-- Modal -->
<ng-template #content let-modal>
  <div class="modal-header">
    <h5 class="modal-title">Modal title</h5>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <qrcode [qrdata]="myAngularxQrCode" [width]="256" [errorCorrectionLevel]="'M'"></qrcode>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.dismiss('Close click')">Close</button>
    <button type="button" class="btn btn-primary">Save changes</button>
  </div>
</ng-template>

