body {
  background: #dd3f3e;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
}

.ticket {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 700px;
  margin: 20px auto;

  .stub, .check {
    box-sizing: border-box;
  }
}

.stub {
  background: #ef5658;
  height: 250px;
  width: 250px;
  color: white;
  padding: 20px;
  position: relative;

  &:before {
    content: '';
    position: absolute;
    top: 0; right: 0;
    border-top: 20px solid #dd3f3e;
    border-left: 20px solid #ef5658;
    width: 0;
  }
  &:after {
    content: '';
    position: absolute;
    bottom: 0; right: 0;
    border-bottom: 20px solid #dd3f3e;
    border-left: 20px solid #ef5658;
    width: 0;
  }

  .top {
    display: flex;
    align-items: center;
    height: 40px;
    text-transform: uppercase;

    .line {
      display: block;
      background: #fff;
      height: 40px;
      width: 3px;
      margin: 0 20px;
    }
    .num {
      font-size: 10px;
      span {
        color: #000;
      }
    }
  }
  .number {
    position: absolute;
    left: 40px;
    font-size: 150px;
  }
  .invite {
    position: absolute;
    left: 150px;
    bottom: 45px;
    color: #000;
    width: 20%;

    &:before {
      content: '';
      background: #fff;
      display: block;
      width: 40px;
      height: 3px;
      margin-bottom: 5px;
    }
  }
}

.check {
  background: #fff;
  height: 250px;
  width: 450px;
  padding: 40px;
  position: relative;

  &:before {
    content: '';
    position: absolute;
    top: 0; left: 0;
    border-top: 20px solid #dd3f3e;
    border-right: 20px solid #fff;
    width: 0;
  }
  &:after {
    content: '';
    position: absolute;
    bottom: 0; left: 0;
    border-bottom: 20px solid #dd3f3e;
    border-right: 20px solid #fff;
    width: 0;
  }

  .big {
    font-size: 80px;
    font-weight: 900;
    line-height: .8em;
  }
  .number {
    position: absolute;
    top: 50px;
    right: 50px;
    color: #ef5658;
    font-size: 40px;
  }
  .info {
    display: flex;
    justify-content: flex-start;

    font-size: 12px;
    margin-top: 20px;
    width: 100%;

    #qrcode-image {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
    section {
      margin-right: 50px;
      &:before {
        content: '';
        background: #ef5658;
        display: block;
        width: 40px;
        height: 3px;
        margin-bottom: 5px;
      }
      .title {
        font-size: 10px;
        text-transform: uppercase;
      }
    }
  }
}
@import url("https://fonts.googleapis.com/css2?family=Archivo:wdth,wght@62..125,100..900&display=swap");

:root {
  --border-color: #d43b39;
  --red: #f54949;
  --text-black: #322523;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: inherit;
}

body {
  height: 100vh;
  display: grid;
  place-items: center;
  font-family: Archivo;
  font-variation-settings:
    color var(--text-black);
  background-color: #ceedf4;
}

/*//////ticket */


@import url("https://fonts.googleapis.com/css2?family=Staatliches&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100vh;
  display: grid;
  font-family: "Staatliches", cursive;
  background: #d83565;
  color: black;
  font-size: 14px;
  letter-spacing: 0.1em;
}

.ticket {
  margin: auto;
  display: flex;
  background: white;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.left {
  display: flex;
}

.image {
  height: 250px;
  width: 250px;
  background-image: url("https://media.pitchfork.com/photos/60db53e71dfc7ddc9f5086f9/1:1/w_1656,h_1656,c_limit/Olivia-Rodrigo-Sour-Prom.jpg");
  background-size: contain;
  opacity: 0.85;
}

.admit-one {
  position: absolute;
  color: darkgray;
  height: 250px;
  padding: 0 10px;
  letter-spacing: 0.15em;
  display: flex;
  text-align: center;
  justify-content: space-around;
  writing-mode: vertical-rl;
  transform: rotate(-180deg);
}

.admit-one span:nth-child(2) {
  color: white;
  font-weight: 700;
}

.left .ticket-number {
  height: 250px;
  width: 250px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 5px;
}

.ticket-info {
  padding: 10px 30px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  align-items: center;
}

.date {
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  padding: 5px 0;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.date span {
  width: 100px;
}

.date span:first-child {
  text-align: left;
}

.date span:last-child {
  text-align: right;
}

.date .june-29 {
  color: #d83565;
  font-size: 20px;
}

.show-name {
  font-size: 32px;
  font-family: "Nanum Pen Script", cursive;
  color: #d83565;
}

.show-name h1 {
  font-size: 48px;
  font-weight: 700;
  letter-spacing: 0.1em;
  color: #4a437e;
}

.time {
  padding: 10px 0;
  color: #4a437e;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-weight: 700;
}

.time span {
  font-weight: 400;
  color: gray;
}

.left .time {
  font-size: 16px;
}


.location {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding-top: 8px;
  border-top: 1px solid gray;
}

.location .separator {
  font-size: 20px;
}

.right {
  width: 180px;
  border-left: 1px dashed #404040;
}

.right .admit-one {
  color: darkgray;
}

.right .admit-one span:nth-child(2) {
  color: gray;
}

.right .right-info-container {
  height: 250px;
  padding: 10px 10px 10px 35px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.right .show-name h1 {
  font-size: 18px;
}

.barcode {
  height: 100px;
}

.barcode img {
  height: 100%;
}

.right .ticket-number {
  color: gray;
}

/*//////////////CHATTTTTT*/
.message {
  border-radius: 50px;
  margin: 0 15px 20px;
  padding: 10px 20px;
  position: relative;
  font-size: 20px;
}
.message.to {
  background-color: #2095FE;
  color: #fff;
  margin-left: 100px;
  text-align: right;
}
.message.from {
  background-color: #E5E4E9;
  color: #363636;
  margin-right: 100px;
}
.message.to + .message.to,
.message.from + .message.from {
  margin-top: -10px;
}

.my-custom-input {
  border: 1px solid #ccc;
  padding: 8px;
  border-radius: 4px;
  font-size: 14px;
  flex: 1; /* Allow the input to grow and fill available space */
  margin-right: 10px; /* Add some spacing between input and button */}
.input-container {
  display: flex;
  align-items: center; /* Vertically center the items */
}

/* styles.css or your component's SCSS file */
.smaller-image {
  max-width: 100px; /* Adjust as needed */
  max-height: 100px; /* Adjust as needed */
}

