<div class="container containerSp">
  <app-error [errorMessage]="error"></app-error>
  <app-show-ratings *ngIf="isRatingsDisplayed" [ratings]="ratingsRep" [courseId]="courseId"
  (hide)="hideDisplayRatings()" [ratingUrl]="ratingUrl"></app-show-ratings>
  <div class="blog-content blog-read mb-3 text-end" style="display: flex; justify-content: space-between;align-items: center;padding: 2px .5rem;">
    <div *ngIf="isActionAllowd(summary)">
      <button type="button" style="margin-right: 1rem;" class="btn btn-danger" (click)="deleteSuummary(summary.id)">Delete</button>
      <button type="button" class="btn btn-success" (click)="navigateToUpdateSummary(summaryId)">Update</button>
    </div>
    <a href="javascript:void(0)" (click)="navigateToResourse()" class="read-more btn btn-primary" style="margin-left: auto;">Back to {{resourse}}</a>
  </div>
  <div *ngIf="summary" class="card overview-sec">
    <div class="card-body">
      <div class="summary-basic-info-cont">
        <h5 class="subs-title summary-title">{{summary.title}}</h5>
        <h6 class="summary-desc-title">Summary Description</h6>
        <p>
          {{summary.description}}
        </p>
      </div>

      <div class="container mt-3">
        <div class="summary-pdf-item" *ngFor="let file of summary.files">
          <div>
            <div class="">
              <a href={{file.url}}>
                <h5 class="card-title">{{ file.fileName }}</h5>
                <!-- Additional content if needed -->
              </a>
            </div>
          </div>
        </div>
      </div>


      <div class="rating-container">
        <div style="display: flex;align-items: center;cursor: pointer;" *ngIf="summary.ratings.length!=0"
          (click)="showRatings(summary.ratings)">
          <div style="width: 7rem;display: flex;align-items: center;">
            <div style="width: 2rem;margin-right: .5rem;">
              <img src="/assets/FrontOffice/img/user.png" alt="user icon" class="icon" style="padding-right: .3rem;">
            </div>
            <span style="color: blue;font-size: 1rem;">{{summary.ratings.length}} ratings</span>
          </div>
          <app-rating [readonly]="true" [initialRate]="summaryrating" *ngIf="summary.ratings.length!=0"></app-rating>
         
        </div>
        <div *ngIf="summary.ratings.length==0" style="padding-left: 1.3rem;color: blue;cursor: pointer;"
        (click)="navigateToAddRatingToSummary(courseId,summary.id)">
        <a>rate >> </a>
      </div>

      </div>
    </div>
  </div>
</div>