
<div class="container">
  <h2>My Posts</h2>
  <hr>
  <div class="row">
    <div *ngFor="let annonce of annonces" class="col-md-6">
      <div class="card mb-3">
        <img  class="card-img-top" *ngIf="annonce.typeAnnonce === 'LOST_AND_FOUND'" [src]="getImageUrl(annonce.picture)" alt="image" />

        <div class="card-body">
          <h5 class="card-title">{{ annonce.title }}</h5>
          <p class="card-text">{{ annonce.annonce_description }}</p>
          <p class="card-text"><small class="text-muted">{{ annonce.startDate }}</small></p>
          <button class="btn btn-danger" (click)="deleteAnnonce(annonce.id_annonce)">Delete</button>
          <a [routerLink]="['/home/UpdateAnonce', annonce.id_annonce]" class="btn btn-primary">Edit</a>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="!annonces.length" class="alert alert-info" role="alert">
    No annonces found for this user.
  </div>
</div>
